<template>
            <div class="nds-grid nds-wrap nds-is-relative">
            <div if:false={cardLoaded} class="nds-is-absolute vloc-loader_override" style="height: 100%; width: 100%; min-height:50px; background: white; z-index: 99;">
  <div>
   <vlocity_ins-spinner
      variant="brand"
      alternative-text="Loading content..."
      size="small"
      theme="nds"
      ></vlocity_ins-spinner>
  </div>
</div>
            <template if:false={hasPermission}>
              You don't have required permissions to view this card.
            </template>
            <template if:true={hasPermission}>
              <template if:true={hasRecords}>
                      <vlocity_ins-flex-card-state   data-statue="true"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-card nds-m-bottom_x-small " style="background-color:#fff;     border-color:#ccc; border-width:0.8px;  border-style:solid;     ">
          <div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  label="Block"  collapsible="false"  record={record}  collapsed-by-default="false"  card={card}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col  cais-table-container  nds-size_12-of-12  " style="             "><vlocity_ins-data-table  issearchavailable="true"  issortavailable="true"  cell-level-edit="true"  pagelimit="3"  group-order="asc"  styles='\{"cellMargin":[],"cellPadding":[]}'  columns='\[{"fieldName":"Name","label":"CLAIM NUMBER","searchable":false,"sortable":true,"type":"text","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"PolicyNumber","label":"POLICY ID","searchable":false,"sortable":true,"type":"text","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"DateOfLoss","label":"DATE OF LOSS","searchable":false,"sortable":true,"type":"text","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"ClaimType","label":"CLAIM TYPE","searchable":false,"sortable":true,"type":"text","visible":"true","userSelectable":"false","editable":"false"}]'  records={records}  theme="nds" ></vlocity_ins-data-table>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                </template>
                <template if:false={hasRecords}>
                      <vlocity_ins-flex-card-state   data-statue="false"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-card nds-m-bottom_x-small " style="background-color:#fff;     border-color:#ccc; border-width:0.8px;  border-style:solid;     ">
          <div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  label="Block"  collapsible="false"  record={record}  collapsed-by-default="false"  card={card}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col  cais-table-container  nds-size_12-of-12  " style="             "><vlocity_ins-data-table  issearchavailable="true"  issortavailable="true"  cell-level-edit="true"  pagelimit="3"  group-order="asc"  styles='\{"cellMargin":[],"cellPadding":[]}'  columns='\[{"fieldName":"Name","label":"CLAIM NUMBER","searchable":false,"sortable":true,"type":"text","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"PolicyNumber","label":"POLICY ID","searchable":false,"sortable":true,"type":"text","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"DateOfLoss","label":"DATE OF LOSS","searchable":false,"sortable":true,"type":"text","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"ClaimType","label":"CLAIM TYPE","searchable":false,"sortable":true,"type":"text","visible":"true","userSelectable":"false","editable":"false"}]'  records={records}  theme="nds" ></vlocity_ins-data-table>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                </template>
            </template>
            <template if:true={hasError}>
            {error}
            </template>
            
      <vlocity_ins-action action-wrapperclass="slds-hide" re-render-flyout class="action-trigger slds-col" onupdateos={updateOmniscript} onsetvalue={updateAction}>
      
      </vlocity_ins-action>
  
            <vlocity_ins-action class="execute-action" re-render-flyout action-wrapperclass="slds-hide" onupdateos={updateOmniscript} onsetvalue={updateAction}>
            
            </vlocity_ins-action>
            </div>
          </template>