<template>
    <div class="cais-breadcrumbs">
    <lightning-breadcrumbs>
        <lightning-breadcrumb
            label="Insured Details"
            href="">
        </lightning-breadcrumb>
        <lightning-breadcrumb
            label="Quote Details"
            href="">
        </lightning-breadcrumb>
    </lightning-breadcrumbs>
</div>
</template>