<template>
            <div class="slds-grid slds-wrap slds-is-relative">
            <div if:false={cardLoaded} class="slds-is-absolute vloc-loader_override" style="height: 100%; width: 100%; min-height:50px; background: white; z-index: 99;">
  <div>
   <vlocity_ins-spinner
      variant="brand"
      alternative-text="Loading content..."
      size="medium"
      theme="slds"
      ></vlocity_ins-spinner>
  </div>
</div>
            <template if:false={hasPermission}>
              You don't have required permissions to view this card.
            </template>
            <template if:true={hasPermission}>
              <template if:true={hasRecords}>
                        <template for:each={_records} for:item="record" for:index="rindex">
                            <vlocity_ins-flex-card-state key={record.uniqueKey} data-recordid={record.Id} record={record} data-statue="true"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state slds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="slds-grid slds-wrap slds-border_top slds-border_right slds-border_bottom slds-border_left slds-p-around_large slds-m-bottom_x-small " style="background-color:#fff;     border-color:#ddd; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="slds-col  cardHeader slds-size_12-of-12  " style="            color:#16325C; "><vlocity_ins-output-field  record={record}  merge-field="%3Cdiv%3EContact%20Details%3C/div%3E"  card={card}  theme="slds" ></vlocity_ins-output-field>
      </div><div class="slds-col   slds-p-around_x-small slds-size_12-of-12 " style="">
    <vlocity_ins-block  label="Block"  collapsible="false"  record={record}  collapsed-by-default="false"  card={card}  theme="slds" ><div class="slds-grid slds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-output-field  placeholder=""  record={record}  type="text"  card={card}  label="First Name"  field-name="FirstName"  labelclass="fieldLabel"  valueclass="fieldValue"  theme="slds" ></vlocity_ins-output-field>
      </div><div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-output-field  placeholder=""  record={record}  type="text"  card={card}  label="Last Name"  field-name="LastName"  labelclass="fieldLabel"  valueclass="fieldValue"  theme="slds" ></vlocity_ins-output-field>
      </div><div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-output-field  placeholder=""  record={record}  type="text"  card={card}  label="Title"  field-name="Title"  labelclass="fieldLabel"  valueclass="fieldValue"  theme="slds" ></vlocity_ins-output-field>
      </div><div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-output-field  placeholder=""  record={record}  type="text"  card={card}  label="Type"  field-name="Type"  labelclass="fieldLabel"  valueclass="fieldValue"  theme="slds" ></vlocity_ins-output-field>
      </div><div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-output-field  placeholder=""  record={record}  type="text"  card={card}  label="Phone"  field-name="Phone"  labelclass="fieldLabel"  valueclass="fieldValue"  theme="slds" ></vlocity_ins-output-field>
      </div><div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-output-field  placeholder=""  record={record}  type="text"  card={card}  label="Email"  field-name="Email"  labelclass="fieldLabel"  valueclass="fieldValue"  theme="slds" ></vlocity_ins-output-field>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                        </template>
                      </template>
                      <template if:false={hasRecords}>
                            <vlocity_ins-flex-card-state  record={record} data-statue="false"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state slds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="slds-grid slds-wrap slds-border_top slds-border_right slds-border_bottom slds-border_left slds-p-around_large slds-m-bottom_x-small " style="background-color:#fff;     border-color:#ddd; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="slds-col  cardHeader slds-size_12-of-12  " style="            color:#16325C; "><vlocity_ins-output-field  record={record}  merge-field="%3Cdiv%3EContact%20Details%3C/div%3E"  card={card}  theme="slds" ></vlocity_ins-output-field>
      </div><div class="slds-col   slds-p-around_x-small slds-size_12-of-12 " style="">
    <vlocity_ins-block  label="Block"  collapsible="false"  record={record}  collapsed-by-default="false"  card={card}  theme="slds" ><div class="slds-grid slds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-output-field  placeholder=""  record={record}  type="text"  card={card}  label="First Name"  field-name="FirstName"  labelclass="fieldLabel"  valueclass="fieldValue"  theme="slds" ></vlocity_ins-output-field>
      </div><div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-output-field  placeholder=""  record={record}  type="text"  card={card}  label="Last Name"  field-name="LastName"  labelclass="fieldLabel"  valueclass="fieldValue"  theme="slds" ></vlocity_ins-output-field>
      </div><div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-output-field  placeholder=""  record={record}  type="text"  card={card}  label="Title"  field-name="Title"  labelclass="fieldLabel"  valueclass="fieldValue"  theme="slds" ></vlocity_ins-output-field>
      </div><div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-output-field  placeholder=""  record={record}  type="text"  card={card}  label="Type"  field-name="Type"  labelclass="fieldLabel"  valueclass="fieldValue"  theme="slds" ></vlocity_ins-output-field>
      </div><div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-output-field  placeholder=""  record={record}  type="text"  card={card}  label="Phone"  field-name="Phone"  labelclass="fieldLabel"  valueclass="fieldValue"  theme="slds" ></vlocity_ins-output-field>
      </div><div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-output-field  placeholder=""  record={record}  type="text"  card={card}  label="Email"  field-name="Email"  labelclass="fieldLabel"  valueclass="fieldValue"  theme="slds" ></vlocity_ins-output-field>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                      </template>
            </template>
            <template if:true={hasError}>
            {error}
            </template>
            
      <vlocity_ins-action action-wrapperclass="slds-hide" re-render-flyout class="action-trigger slds-col" onupdateos={updateOmniscript} onsetvalue={updateAction}>
      
      </vlocity_ins-action>
  
            <vlocity_ins-action class="execute-action" re-render-flyout action-wrapperclass="slds-hide" onupdateos={updateOmniscript} onsetvalue={updateAction}>
            
            </vlocity_ins-action>
            </div>
          </template>