<div class="via-nds nds-table__canvas nds-canvas  nds-m-top--small"  ng-controller="npTableCanvasController"  ng-class="sessionBorder== 'false'  ? '' : 'nds-card__border'">
   <!-- layout session variable: Border = 'false/true' to remove border-->
    <div class="nds-p-around--small">
         <!-- hide if layout session variable Title is undefined -->
         <h3 ng-hide="!sessionTitle" class="nds-is-relative nds-m-bottom--x-large nds-canvas__title">
        {{sessionTitle}}
            </h3>
        <div>
            <table class="nds-no-row-hover nds-text-heading_small">
              <tbody vloc-card ng-repeat="card in cards |orderBy:order" trl="{{ctrl}}" ng-model="card" data="card" records="records" index="{{$index}}" session-id="{{sessionId}}" class="np-card" use-existing-element-type>
              </tbody>
            </table>
        </div>
    </div>
    
</div>