<template>
	<section class="np-via-nds-card--left-profile" if:true={selectedState}>
		<div class="profile-picture big-profile-picture m-t-n25r">
			<!--	<img src="" if:true={showImage} >
			<span if:false={showImage} class="nds-avatar__profile">
         <span class="nds-profile__image">
         <vlocity_ins-icon
              icon-name='utility:user'
              size="medium"
              extraclass="nds-avatar__custom nds-avatar_large"
            ></vlocity_ins-icon>
         </span>
			</span>-->
		</div>

		<div class="profile-detail">
			<!--<div class="profile-name nds-m-vertical--small">
				{obj.PrimaryContact.Name}
			</div> -->
			<!--Using ng-repeat to iterate over the fields object -->
			<template if:true={obj.PrimaryContact}>
				<div if:true={obj.PrimaryContact.Npn}>
					<label class="cust_label">NPN : </label>
					<span class="nds-color-text-secondary"> {obj.PrimaryContact.Npn}</span>
				</div>
				<!--<div if:true={obj.PrimaryContact.Name}>
					<label class="cust_label"> : </label>
					<span class="nds-color-text-secondary">{obj.PrimaryContact.Name}</span>
				</div> -->
				<div if:true={obj.PrimaryContact.address1}>
					<label class="cust_label">Address Line 1 : </label>
					<span class="nds-color-text-secondary">{obj.PrimaryContact.address1} </span>
				</div>
				<div if:true={obj.PrimaryContact.address2}>
					<label class="cust_label">Address Line 2 : </label>
					<span class="nds-color-text-secondary"> {obj.PrimaryContact.address2} </span>
				</div>
				<div if:true={obj.PrimaryContact.Phone}>
					<label class="cust_label">Phone : </label>
					<a href="tel:#" class="nds-color-text-secondary">
						<lightning-formatted-phone value={obj.PrimaryContact.Phone}></lightning-formatted-phone>
					</a>
				</div>
				<div if:true={obj.PrimaryContact.Fax}>
					<label class="cust_label">Fax : </label>
					<span class="nds-color-text-secondary"> {obj.PrimaryContact.Fax} </span>
				</div>
				<div if:true={obj.PrimaryContact.Email}>
					<label class="cust_label">Email : </label>
					<a href="mailto:" class="nds-text-link--reset">
						<span>{obj.PrimaryContact.Email}</span>
					</a>
				</div>

				<div if:true={obj.PrimaryContact.WebSite}>
					<label class="cust_label">Website : </label>
					<a href="#" class="nds-text-link--reset" target="_blank">
						{obj.PrimaryContact.WebSite}
					</a>
				</div>


				<!--<div if:true={obj.PrimaryContact.MailingPostalCode}>
					<span class="nds-color-text-secondary">{obj.PrimaryContact.MailingPostalCode} </span>
				</div>-->

			</template>
			<!-- Using nds-frid class to render the placeholders and action mapped-->
			<!--	<div class="nds-grid nds-wrap np-profile-actions">
				<div class="nds-col via-nds-col nds-m-top--medium nds-p-horizontal--small" for:each={actions}
					for:item="item" key={item.id}>
					<a class="nds-text-link--reset" href="#">
						<vlocity_ins-action state-obj={obj} context-id={contextId} s-object-type={sObjectType}
							state-action={item}>
						</vlocity_ins-action>
					</a>
				</div>
				<template if:true={obj.PrimaryContact}>
					<div if:true={obj.PrimaryContact.Email}
						class="nds-col via-nds-col nds-m-top--medium nds-p-horizontal--small p0">
						<a href="mailto:" class="nds-text-link--reset">
							<span>{obj.PrimaryContact.Email}</span>
						</a>
					</div>

					<div if:true={obj.PrimaryContact.WebSite}
						class="nds-col via-nds-col np-last-action nds-m-top--medium nds-p-horizontal--small">
						<a href="#" class="nds-text-link--reset" target="_blank">
							{obj.PrimaryContact.WebSite}
						</a>
					</div>
				</template>
			</div> -->
		</div>
	</section>

	<template if:true={obj.PrimaryContact}>
		<section class="nds-text-heading_small nds-text-align_left">
			<div class="nds-grid nds-wrap" if:true={selectedState}>
				<div class="nds-size_1-of-1 nds-m-top--medium nds-m-bottom--medium nds-text-heading_small"
					for:each={actions} for:item="item" key={item.id}>

					<vlocity_ins-action state-obj={obj} context-id={contextId} s-object-type={sObjectType}
						state-action={item} theme="nds" icon-wrapperclass='nds-hide'>
					</vlocity_ins-action>

				</div>
			</div>
		</section>
	</template>

	<!-- <div class="nds-grid nds-wrap" if:true={selectedState}>
		<div class="nds-size_1-of-1 nds-m-bottom--medium nds-text-heading_small" for:each={actions} for:item="item"
			key={item.id}>

			<vlocity_ins-action state-obj={obj} context-id={contextId} s-object-type={sObjectType} state-action={item}
				theme="nds" icon-wrapperclass='nds-hide'>
			</vlocity_ins-action>

		</div>
	</div> -->

</template>