h3.nds-is-relative.nds-m-bottom--xx-large.nds-canvas__title {
    font-size: x-large;
}

h3.nds-is-relative.nds-m-bottom--xx-large.nds-canvas__title:after {
    background: #9FA617 !important;
}
.font-14{
    font-size:14px;
}
.nds-size--1-of-2.nds-large-size--1-of-2.nds-medium-size--1-of-2.nds-float--left {
    font-size: 14px;
    font-weight: 600;
}
.m-t-2r{
    margin-top:2rem;
}