<template>
	<div if:true={selectedState}>
		<h3 class="nds-is-relative nds-m-bottom--xx-large nds-canvas__title" if:true={firstField}>
			<vlocity_ins-output-field extraclass="nds-show_inline-block" record={obj} field-name={firstField.name} type={firstField.type}></vlocity_ins-output-field>
		</h3>
		<!-- <div class="nds-text-title--caps nds-m-top--large" if:true={secondField}>
			<span class="nds-truncate nds-text-heading_label nds-m-bottom_xx-small nds-p-right_xx-small font-14" title={secondField.label}>
					{secondField.label}:
				</span>
			<vlocity_ins-output-field extraclass="nds-show_inline-block" record={obj} field-name={secondField.name} type={secondField.type}></vlocity_ins-output-field>
		</div> -->
		<div class="nds-grid nds-wrap nds-m-top--small nds-p-bottom--medium nds-size--1-of-1 m-t-2r">
			<div class="nds-grid nds-size--1-of-1 nds--small-size--1-of-1 nds-medium-size--1-of-1 nds-large-size--1-of-1 nds-float--left nds-m-top--small"
			 if:true={thirdField}>
				<div class="nds-size--1-of-6 nds-large-size--1-of-6 nds-medium-sizends-size--1-of-4 nds-large-size--1-of-6 nds-medium-size--1-of-4 nds-text-heading_small nds-truncate nds-m-bottom--xx-small--1-of-2 nds-text-heading_small nds-truncate nds-m-bottom--xx-small font-14">{thirdField.label}:</div>

				<div class="nds-size--1-of-2 nds-large-size--1-of-2 nds-medium-size--1-of-2  nds-float--left">
					<span class="nds-text-link--reset"  if:true={firstAction}>
						<vlocity_ins-action state-obj={obj} context-id={contextId} s-object-type={sObjectType} state-action={firstAction} icon-extraclass="nds-hide">
								<vlocity_ins-output-field extraclass="nds-show_inline-block" record={obj} field-name={thirdField.name} type={thirdField.type}></vlocity_ins-output-field>
						</vlocity_ins-action>
					</span>
					<div if:false={firstAction} class="nds-text-body--regular-np nds-wrap">
						<vlocity_ins-output-field extraclass="nds-show_inline-block" record={obj} field-name={thirdField.name} type={thirdField.type}></vlocity_ins-output-field>
					</div>
				</div>
			</div>
			<div class="nds-grid nds-size--1-of-1 nds--small-size--1-of-1 nds-medium-size--1-of-1 nds-large-size--1-of-1 nds-float--left nds-m-top--small"
			 key={field.name} for:each={restField} for:item="field">
				<div class="nds-size--1-of-6 nds-large-size--1-of-6 nds-medium-size--1-of-4 nds-text-heading_small nds-truncate nds-m-bottom--xx-small font-14"
				 title={field.label}>{field.label}:</div>
				<div class="nds-size--1-of-2 nds-large-size--1-of-2 nds-medium-size--1-of-2  nds-float--left">
					<span class="nds-text-body--regular-np nds-wrap" title={field.label}>
                       	<vlocity_ins-output-field extraclass="nds-show_inline-block bold-value" record={obj} field-name={field.name} type={field.type}></vlocity_ins-output-field>
                    </span>
				</div>
			</div>
		</div>
	</div>
</template>