<template>
  <template if:true={tableDetails}>
    <c-cais-generic-table
      columns={columns}
      records={tableData}
      table-details={tableDetails}
    ></c-cais-generic-table>
  </template>
</template>