<template>
    <slot>
      <c-custom-combobox options={_realtimeOptions}
                  label={_propSetMap.label}
                  class={_styleClasses.input}
                  required={_propSetMap.required}
                  tab-index={tabIndex}
                  onchange={handleChange}
                  theme={_theme}
                  value={elementValue}
                  field-level-help={_handleHelpText}
                  data-refresh={refresh}
                  read-only={_isReadOnly}
                  data-show-lookup="true"
                  label-classes={labelClasses}
                  message-when-value-missing={_messageWhenValueMissing}
                  data-omni-input>
        <template if:true={_propSetMap.repeat}>
          <span slot="label"
                style="bottom:7px; right:7px;"
                class={_styleClasses.repeatContainer}
                role="group">
            <button if:true={canRepeat}
                    class={_styleClasses.repeatAdd}
                    onclick={handleAdd}>
              <vlocity_ins-icon icon-name="utility:add"
                      alternative-text="Repeat Select"
                      extraclass={_styleClasses.repeatIcons}
                      size="xx-small">
              </vlocity_ins-icon>
            </button>
            <button if:true={canRemove}
                    class={_styleClasses.repeatRemove}
                    onclick={handleRemove}>
              <vlocity_ins-icon icon-name="utility:close"
                      alternative-text="Remove Select"
                      extraclass={_styleClasses.repeatIcons}
                      size="xx-small">
              </vlocity_ins-icon>
            </button>
          </span>
        </template>
      </c-custom-combobox>
    </slot>
  </template>