.cais-table-container .tableRow:nth-child(2n) {
    background: #F8FBFE !important;
}
.cais-table-container .tableRow {
    border: 1px solid #D8DDE6 !important;
}
.cais-table-container .tableHeadCell{
    padding: .25rem .5rem;
    white-space: nowrap;
    position: relative;
}
.cais-table-container .tableHeadCell {
    padding: 0.5rem 0.15rem !important;
    background: white !important;
    color: #0C2D62 !important;
    font-size: 12px !important;
    text-transform: uppercase;
}
.cais-table-container .tableHeadCell  a{
    color: #0C2D62 !important;
}
.cais-table-container .nds-data-table-row, .cais-table-container .nds-data-table{
    border: 1px solid #dddbda;
}
.cais-table-container .nds-data-table-body .dataTableCell>div{
        padding: 0.5rem 0;
}
.cais-table-container .nds-search-input input{
    width:30%;
}
.cais-table-container .nds-search-input input::placeholder {
    color: #706E6B !important;
    visibility: visible !important;
    padding-left: 0.5rem;
    font-size: 14px;
}
.cardHeader{
    font-size: x-large;
}
.cardHeader lightning-formatted-rich-text span div::after{
    content: "";
    background: rgb(159, 166, 23);
    position: absolute;
    top: 4.5rem;
    left: 1.5rem;
    width: 3.125rem;
    height: .1875rem;
}
.nds-card{
    border: .0625rem solid rgba(0,0,0,.05)!important;
    border-radius: 0!important;
}