<template>
    <template if:true={firstField}>
        <div if:true={firstField}>
            <label class="cust_label">Phone : </label>
            <!-- <a href="tel:#" class="nds-color-text-secondary">
                <lightning-formatted-phone value={firstField}></lightning-formatted-phone>
            </a> -->
            <a href="tel:#" class="nds-color-text-secondary">
                <vlocity_ins-output-field extraclass="nds-show_inline-block" record={obj} field-name={firstField.name}
                    type={firstField.type}></vlocity_ins-output-field>
            </a>
        </div>
        <div class="nds-size_1-of-1 nds-m-top--medium nds-m-bottom--medium nds-text-heading_small" for:each={actions}
            for:item="item" key={item.id}>

            <vlocity_ins-action state-obj={obj} context-id={contextId} s-object-type={sObjectType} state-action={item}
                theme="nds" icon-wrapperclass='nds-hide'>
            </vlocity_ins-action>

        </div>
    </template>
</template>