<!--fileList-->
<template>
  <div class=" related_list_themed_border_top cais-fileupload">
    <lightning-card
      class="documents-card"
      variant="Narrow"
      title="Documents"
      icon-name="standard:file"
    >
      <lightning-button-icon
        class="m-r-05r"
        icon-name="utility:filter"
        variant="border-filled"
        alternative-text="Search"
        slot="actions"
        onclick={toggleSearchVisibility}
        if:false={showSearch}
      ></lightning-button-icon>
      <lightning-button-icon
        class="m-r-05r"
        icon-name="utility:refresh"
        variant="border-filled"
        alternative-text="Refresh"
        slot="actions"
        onclick={refreshData}
      ></lightning-button-icon>
      <lightning-button
        class="m-r-05r cancel-button"
        label="Cancel Filter"
        slot="actions"
        if:true={showSearch}
        onclick={toggleSearchVisibility}
      ></lightning-button>
      <lightning-button
        class="upload-button"
        label="Upload"
        onclick={openmodal}
        slot="actions"
      ></lightning-button>
      <div class="cardBody slds-m-top_large" if:false={showSearch}>
        <template for:each={categoryFileArray} for:item="files">
          <div key={files.Type__c} data-toggle={files.Type__c} class="greyBackground bottomBorder p1r">
            <lightning-button-icon
              icon-name="standard:file"
              icon-class="slds-icon_small"
              size="large"
              onclick={togglePanel}
            ></lightning-button-icon>
            <div class="inline-block panel-label">{files.label}</div>
            <div class="inline-block floatRight">
              <div>Files</div>
              <div>{files.fileLength}</div>
            </div>
          </div>
          <div
          style="display: none;"
            id={files.Type__c}
            class="slds-grid slds-wrap p1r"
            key={files.Type__c}
          >
            <template for:each={files.files} for:item="file">
              <a
                key={file.Id}
                href="#"
                data-docid={file.ContentDocumentId}
                onclick={navigateToFiles}
                class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2"
              >
                <div key={file.Id} class="lgc-bg fileTile">
                  <lightning-tile label={file.title} type="media">
                    <lightning-icon
                      slot="media"
                      icon-name={file.icon}
                    ></lightning-icon>
                    <p
                      class="slds-text-body--small slds-truncate"
                      title="file details"
                    >
                      {file.type} - {file.extension} - {file.size} - {file.date}
                    </p>
                  </lightning-tile>
                </div>
              </a>
            </template>
          </div>
        </template>
      </div>
      <div style="padding-left: 20px; padding-right: 20px" if:true={showSearch}>
        <lightning-input
          type="text"
          placeholder="Search"
          value={searchString}
          onchange={handleChange}
          slot="actions"
          class="slds-p-bottom_large"
        >
        </lightning-input>
        <div class="dataTable" style="height: 300px">
          <template if:true={data.length}>
              <lightning-datatable
            key-field="id"
            data={files}
            show-row-number-column
            hide-checkbox-column
            columns={columns}
            onrowaction={handleRowAction}
          >
          
          </lightning-datatable>
        </template>
        </div>
      </div>
      <div slot="footer">
        <!--<a src="" onclick={handleViewAll} class="viewAll">View All</a>-->
      </div>
    </lightning-card>
  </div>
  <template if:true={openmodel}>
    <div class="modal">
      <section
        role="dialog"
        tabindex="-1"
        aria-labelledby="modal-heading-01"
        aria-modal="true"
        aria-describedby="modal-content-id-1"
        class="slds-modal slds-fade-in-open"
      >
        <div class="slds-modal__container">
          <header class="slds-modal__header">
            <button
              class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
              title="Close"
              onclick={closeModal}
            >
              <lightning-icon icon-name="utility:close" size="medium">
              </lightning-icon>
              <span class="slds-assistive-text">Close</span>
            </button>
            <h2
              id="modal-heading-01"
              class="slds-text-heading_medium slds-hyphenate"
            >
              Upload Files
            </h2>
          </header>
          <div
            class="slds-modal__content slds-p-around_medium"
            id="modal-content-id-1"
            style="min-height: 300px"
          >
            <c-cais-file-upload-component
              onuploadsuccess={closeModal}
              record-id={recordId}
              view-upload={viewUpload}
            >
            </c-cais-file-upload-component>
          </div>
          <footer class="slds-modal__footer">
            <div class="m-b-1r">
              <lightning-button
                label="Close"
                variant="neutral"
                onclick={closeModal}
              ></lightning-button>
            </div>
          </footer>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
  </template>
</template>