/*npFooter.css*/
.section-cards{
    border-right: 0.125px solid #7F8FA5;
}
.np-footer-cards{
text-align: center;
}
.section-title{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
a.custom-footer-links{
    color: #F6FFFF;
}
a.custom-footer-links:hover{
text-decoration: none;
}
.fontWhite *{
    color: white;
}
.m-t-1r{
    margin-top: 1rem;
}
.m-l-05r{
    margin-left: 0.5rem;
}