<template>
    <div class="grid-item  section-cards"
        if:true={selectedState}>
        <lightning-accordion onsectiontoggle={handleToggleSection}
        active-section-name={accordianSection}
        allow-multiple-sections-open class="footer-accordian fontWhite"
            >
                <lightning-accordion-section label={obj.name} name={obj.name} title={obj.name}>
                    <ul class="slds-list_vertical-space-medium nds-list_vertical-space-medium">
                        <li class="slds-item nds-item" for:each={actions} for:item="item" key={item.id}>
                            <vlocity_ins-action state-obj={obj} context-id={contextId} s-object-type={sObjectType}
                                state-action={item} theme="nds" action-labelclass="nds-button--icon-inverse"
                                icon-extraclass="nds-hide">
                                <a class="custom-footer-links">{item.displayName}</a>
                            </vlocity_ins-action>
                        </li>
                        <template if:true={isCOntactUs}>
                            <li class="m-t-1r">
                                Tech Support Toll Free <br/> <span class="m-l-05r">888-833-4158</span> 
                            </li>
                            <li class="m-t-1r">
                                Underwriting Support Toll Free <br/> <span class="m-l-05r">888-833-4158</span>
                            </li>
                            <li class="m-t-1r">
                                General Questions Toll Free <br/> <span class="m-l-05r">888-833-4158</span> 
                            </li>
                        </template>
                    </ul>
                </lightning-accordion-section>
            
        </lightning-accordion>
    </div>
</template>