<!--filesViewAll-->
<template>
    <lightning-card title="">
      <div class="slds-p-around_medium">
        <a href={src}>&lt;- Back</a>
      </div>
      <div style="min-height: 600px;">
        <lightning-datatable
          key-field="id"
          data={data}
          show-row-number-column
          hide-checkbox-column
          columns={columns}
          onrowaction={handleRowAction}
          sorted-by={sortBy}
          sorted-direction={sortDirection}
          onsort={handleSortdata}
        >
        </lightning-datatable>
      </div>
    </lightning-card>
  </template>