<template>
            <div class="nds-grid nds-wrap nds-is-relative">
            <div if:false={cardLoaded} class="nds-is-absolute vloc-loader_override" style="height: 100%; width: 100%; min-height:50px; background: white; z-index: 99;">
  <div>
   <vlocity_ins-spinner
      variant="brand"
      alternative-text="Loading content..."
      size="small"
      theme="nds"
      ></vlocity_ins-spinner>
  </div>
</div>
            <template if:false={hasPermission}>
              You don't have required permissions to view this card.
            </template>
            <template if:true={hasPermission}>
              <template if:true={hasRecords}>
                      <vlocity_ins-flex-card-state   data-statue="true"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-card cais-table-container nds-p-around_large nds-m-bottom_x-small " style="background-color:#fff;             ">
          <div class="nds-col  cardHeader nds-size_12-of-12  " style="             "><vlocity_ins-output-field  card={card}  merge-field="%3Cdiv%3EQuotes%3C/div%3E"  record={record}  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_12-of-12 " style=""><vlocity_ins-data-table  cell-level-edit="false"  columns='\[{"editable":"false","fieldName":"Name","label":"Quote ID","searchable":false,"sortable":true,"type":"text","userSelectable":"true","visible":"true"},{"editable":"false","fieldName":"Type","label":"TYPE","searchable":false,"sortable":true,"type":"text","userSelectable":"true","visible":"true"},{"editable":"false","fieldName":"Status","label":"STATUS","searchable":false,"sortable":true,"type":"text","userSelectable":"true","visible":"true"},{"editable":"false","fieldName":"EffectiveDate","label":"EFFECTIVE DATE","searchable":false,"sortable":true,"type":"text","userSelectable":"true","visible":"true"},{"editable":"false","fieldName":"ExpirationDate","label":"EXPIRATION DATE","searchable":false,"sortable":true,"type":"text","userSelectable":"true","visible":"true"},{"editable":"false","fieldName":"TotalAmount","label":"TOTAL AMOUNT","searchable":false,"sortable":true,"type":"text","userSelectable":"true","visible":"true"}]'  group-order="asc"  issearchavailable="true"  issortavailable="true"  pagelimit="10"  pagesize="20"  records={records}  theme="nds" ></vlocity_ins-data-table>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                </template>
                <template if:false={hasRecords}>
                      <vlocity_ins-flex-card-state   data-statue="false"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-card cais-table-container nds-p-around_large nds-m-bottom_x-small " style="background-color:#fff;             ">
          <div class="nds-col  cardHeader nds-size_12-of-12  " style="             "><vlocity_ins-output-field  card={card}  merge-field="%3Cdiv%3EQuotes%3C/div%3E"  record={record}  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_12-of-12 " style=""><vlocity_ins-data-table  cell-level-edit="false"  columns='\[{"editable":"false","fieldName":"Name","label":"Quote ID","searchable":false,"sortable":true,"type":"text","userSelectable":"true","visible":"true"},{"editable":"false","fieldName":"Type","label":"TYPE","searchable":false,"sortable":true,"type":"text","userSelectable":"true","visible":"true"},{"editable":"false","fieldName":"Status","label":"STATUS","searchable":false,"sortable":true,"type":"text","userSelectable":"true","visible":"true"},{"editable":"false","fieldName":"EffectiveDate","label":"EFFECTIVE DATE","searchable":false,"sortable":true,"type":"text","userSelectable":"true","visible":"true"},{"editable":"false","fieldName":"ExpirationDate","label":"EXPIRATION DATE","searchable":false,"sortable":true,"type":"text","userSelectable":"true","visible":"true"},{"editable":"false","fieldName":"TotalAmount","label":"TOTAL AMOUNT","searchable":false,"sortable":true,"type":"text","userSelectable":"true","visible":"true"}]'  group-order="asc"  issearchavailable="true"  issortavailable="true"  pagelimit="10"  pagesize="20"  records={records}  theme="nds" ></vlocity_ins-data-table>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                </template>
            </template>
            <template if:true={hasError}>
            {error}
            </template>
            
      <vlocity_ins-action action-wrapperclass="slds-hide" re-render-flyout class="action-trigger slds-col" onupdateos={updateOmniscript} onsetvalue={updateAction}>
      
      </vlocity_ins-action>
  
            <vlocity_ins-action class="execute-action" re-render-flyout action-wrapperclass="slds-hide" onupdateos={updateOmniscript} onsetvalue={updateAction}>
            
            </vlocity_ins-action>
            </div>
          </template>