<template>
            <div class="nds-grid nds-wrap nds-is-relative">
            <div if:false={cardLoaded} class="nds-is-absolute vloc-loader_override" style="height: 100%; width: 100%; min-height:50px; background: white; z-index: 99;">
  <div>
   <vlocity_ins-spinner
      variant="brand"
      alternative-text="Loading content..."
      size="small"
      theme="nds"
      ></vlocity_ins-spinner>
  </div>
</div>
            <template if:false={hasPermission}>
              You don't have required permissions to view this card.
            </template>
            <template if:true={hasPermission}>
              <template if:true={hasRecords}>
                        <template for:each={_records} for:item="record" for:index="rindex">
                            <vlocity_ins-flex-card-state key={record.uniqueKey} data-recordid={record.Id} record={record} data-statue="true"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-border_top nds-border_bottom nds-p-around_medium nds-m-bottom_x-small " style="background-color:#fff;     border-color:#eee; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="nds-col   nds-size_6-of-12  " style="             "><vlocity_ins-output-field  card={card}  field-name="CommissionRate"  label="Commission Rate:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="text"  valueclass="fieldValue"  format="M/D/YYYY"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  condition-element" style=""><vlocity_ins-output-field  card={card}  currency="USD"  data-conditions='\{"group":[{"field":"LineOfBusiness","id":"state-new-condition-0","operator":"!=","type":"custom","value":"\"\""}],"id":"state-condition-object","isParent":true}'  field-name="CommissionEarned"  format="MM/DD/YYYY"  label="Commission Earned:"  labelclass="fieldLabel"  locale="en-US"  placeholder=""  record={record}  type="text"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                        </template>
                      </template>
                      <template if:false={hasRecords}>
                            <vlocity_ins-flex-card-state  record={record} data-statue="false"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-border_top nds-border_bottom nds-p-around_medium nds-m-bottom_x-small " style="background-color:#fff;     border-color:#eee; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="nds-col   nds-size_6-of-12  " style="             "><vlocity_ins-output-field  card={card}  field-name="CommissionRate"  label="Commission Rate:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="text"  valueclass="fieldValue"  format="M/D/YYYY"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  condition-element" style=""><vlocity_ins-output-field  card={card}  currency="USD"  data-conditions='\{"group":[{"field":"LineOfBusiness","id":"state-new-condition-0","operator":"!=","type":"custom","value":"\"\""}],"id":"state-condition-object","isParent":true}'  field-name="CommissionEarned"  format="MM/DD/YYYY"  label="Commission Earned:"  labelclass="fieldLabel"  locale="en-US"  placeholder=""  record={record}  type="text"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                      </template>
            </template>
            <template if:true={hasError}>
            {error}
            </template>
            
      <vlocity_ins-action action-wrapperclass="slds-hide" re-render-flyout class="action-trigger slds-col" onupdateos={updateOmniscript} onsetvalue={updateAction}>
      
      </vlocity_ins-action>
  
            <vlocity_ins-action class="execute-action" re-render-flyout action-wrapperclass="slds-hide" onupdateos={updateOmniscript} onsetvalue={updateAction}>
            
            </vlocity_ins-action>
            </div>
          </template>