.fieldLabel{
    display: inline-block;
    font-size: 14px;
}
.fieldValue{
    display: inline-block;
    overflow-wrap: break-word;
    color: rgb(22, 50, 92);
    font-size: 14px;
    font-weight: 600;
}
vlocity_ins-output-field div {
    display: inline-block;
    vertical-align: text-top;
}
vlocity_ins-output-field div:first-child{
    min-width: 8rem;
}
.cardHeader{
    font-size: x-large;
}
.cardHeader lightning-formatted-rich-text span div::after{
    content: "";
    background: rgb(159, 166, 23);
    position: absolute;
    top: 4.5rem;
    left: 1.5rem;
    width: 3.125rem;
    height: .1875rem;
}
.nds-card{
    border: .0625rem solid rgba(0,0,0,.05) !important;
    border-radius: 0px !important;
}
.fieldInvisibleLabel{
    visibility: hidden;
}
.fieldSection .vloc-min-height>div{
        height: 0.5rem ;
}