.THIS {
    position: relative
}

.THIS .search-input {
    height: 48px;
    margin: 0;
    padding-left: 0;
    padding-right: 9px;
    width: 100%;
    border: none;
    border-radius: 0
}

.THIS .search-input::-webkit-input-placeholder {
    line-height: 15px;
    padding-top: 1px;
    padding-bottom: 1px
}

.THIS .search-input::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: #17315c !important;
}

.THIS .search-input.search-input--right {
    padding-right: 0;
    padding-left: 9px
}

.THIS .search-input:focus {
    outline: 0
}

.THIS .search-inputSearchButton {
    display: inline-block;
    height: 30px;
    width: 38px;
    border: none;
    border-radius: 0;
    background-color: #fff;
    transition: background-color .2s linear
}

.THIS .search-inputSearchButton:hover {
    transition: background-color .2s linear
}

.THIS .search-inputSearchButton svg {
    position: relative
}

.THIS .search-box {
    display: flex;
    overflow: hidden
}

.THIS .search-box.comm-hide {
    display: none
}

.THIS .search-deflectionContainer {
    position: absolute;
    width: 100%;
    right: 0;
    margin-top: 6px;
    box-shadow: none
}

.THIS .search-deflectionItem {
    background-color: white;
    color: black;
    padding: 10px;
    display: block;
    text-align: left
}

.THIS .search-deflectionItem.search-deflectionItemSearch {
    display: flex;
    align-items: center
}

.THIS .search-deflectionItem .search-deflectionItemSearchText {
    display: inline-block;
    width: 90%;
    padding: 0 10px
}

.THIS .search-deflectionItem .search-deflectionItemSearchIcon {
    display: inline-block;
    height: 38px;
    border: none;
    background-color: transparent
}

.THIS .search-deflectionItem:hover {
    background-color: var(--lwc-colorBackgroundAlt2, rgb(242, 242, 243));
    text-decoration: none
}

.THIS ul.search-deflectionContainer>li:not(:last-child) {
    border-bottom: 1px solid #ececec
}

.THIS .search-deflectionContainerOverlay {
    display: none
}

@media only screen and (max-width:47.9375em) {

    .THIS .search-input,
    .THIS .search-input::-webkit-input-placeholder {
        font-size: 16px;
        color: black !important;
    }

    .THIS .search-input,
    .THIS .search-input:-ms-input-placeholder {
        font-size: 16px;
        color: black !important;
    }

    .THIS .search-input,
    .THIS .search-input::placeholder {
        font-size: 16px;
        color: black !important;
    }

    .THIS .search-input::-webkit-input-placeholder {
        padding-top: 2px;
        padding-bottom: 2px;
        line-height: 20px
    }

    .THIS .search-input:-ms-input-placeholder {
        color: #fff
    }

    .THIS .search-input::placeholder {
        color: #fff
    }

    .THIS .search-box {
        position: relative
    }

    .THIS.search-expanded .search-box .search-input {
        width: 100%
    }

    .THIS .search-deflectionContainer {
        top: 48px;
        position: fixed;
        left: 0;
        margin: 0;
        padding: 0;
        border-radius: 0;
        overflow: auto;
        max-height: calc(100vh - 48px)
    }

    .THIS .search-deflectionContainerOverlay.comm-hide {
        display: none
    }

    .THIS .search-deflectionContainerOverlay {
        display: block;
        height: calc(100% - 48px);
        position: fixed;
        top: 48px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4)
    }

    .THIS .search-deflectionItem .search-deflectionItemSearchIcon {
        width: auto
    }

    .THIS .search-inputSearchButton svg,
    .THIS .search-deflectionItem .search-deflectionItemSearchIcon svg {
        width: .875rem;
        height: .875rem
    }
}

.THIS .comm-hide {
    display: none
}

.THIS .search-deflectionItem {
    color: var(--lwc-colorTextDefault, rgba(0, 0, 0, 0.9))
}

.THIS .search-deflectionItem .search-deflectionItemSearchIcon .slds-button__icon {
    fill: var(--lwc-colorTextDefault, rgba(0, 0, 0, 0.9))
}

.THIS.commThemeCmp .search-deflectionItem:hover,
.THIS.commThemeCmp .search-deflectionItem:focus,
.THIS .search-deflectionItem.search-deflectionItem--active {
    color: var(--lwc-colorTextDefault, rgba(0, 0, 0, 0.9));
    background-color: var(--lwc-colorBackgroundRowHover, rgba(159, 166, 23, 0.05))
}

.THIS .search-box .search-inputSearchButton--right {
    background-color: var(--lwc-colorBackgroundButtonBrand, rgb(159, 166, 23))
}

.THIS.commThemeCmp .search-box .search-inputSearchButton--right:hover,
.THIS.commThemeCmp .search-box .search-inputSearchButton--right:focus {
    background-color: var(--lwc-colorBackgroundButtonBrandHover, #747911)
}

.THIS .search-box {
    width: 100%;
    height: 48px
}

.THIS .search-inputSearchButton {
    width: 50px
}

.THIS .search-input {
    width: 100%;
    padding-right: 24px
}

.THIS .search-input::-webkit-input-placeholder {
    line-height: initial;
    padding-top: 0;
    padding-bottom: 0
}

.THIS .search-input,
.THIS .search-input:-ms-input-placeholder {
    font-size: 18px
}

.THIS .search-input,
.THIS .search-input::placeholder {
    font-size: 18px
}

.THIS .search-input,
.THIS .search-inputSearchButton {
    height: 100%
}

.THIS .search-inputSearchButton.search-inputSearchButton--right {
    width: 77px
}

.THIS .search-input.search-input--right {
    padding-left: 20px;
    padding-right: 16px
}

.THIS .search-inputSearchButton svg {
    width: 18px;
    height: 18px;
    position: relative
}

@media only screen and (max-width:47.9375em) {
    .THIS .search-input {
        border: none
    }

    .THIS .search-deflectionContainer {
        top: auto;
        height: auto;
        margin-top: 3px;
        width: 100%;
        position: absolute;
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0 2px 3px 0
    }
}

.THIS .comm-hide {
    display: none
}

.THIS .search-input {
    color: rgb(0, 0, 0);
    background-color: #fff;
}

.THIS .search-input:focus {
    color: rgb(0, 0, 0);
    background-color: #fff;
}

.THIS .search-input::placeholder {
    color: rgb(0, 45, 86);
}

.THIS .search-input:-ms-input-placeholder {
    color: rgb(0, 45, 86);
}

.THIS .search-input::-ms-input-placeholder {
    color: rgb(0, 45, 86);
}

.THIS .search-box .search-inputSearchButton svg {
    fill: rgb(255, 255, 255) !important;
}

.THIS .search-deflectionItem {
    background-color: rgba(255, 255, 255, 1);
}

.THIS .search-deflectionItem {
    color: rgba(0, 0, 0, 1)
}

.THIS .search-deflectionItem:hover,
.THIS .search-deflectionItem:focus,
.THIS .search-deflectionItem.search-deflectionItem--active {
    color: rgba(0, 0, 0, 1)
}

.THIS .search-deflectionItem:hover,
.THIS .search-deflectionItem:focus,
.THIS .search-deflectionItem.search-deflectionItem--active {
    background-color: rgba(250, 250, 250, 1)
}

.THIS .search-deflectionContainer>li:not(:last-child) {
    border-color: rgba(240, 240, 240, 1);
}

.THIS .search-deflectionItem .search-deflectionItemSearchIcon .slds-button__icon {
    fill: rgba(0, 0, 0, 1)
}

.THIS .search-trigger button svg {
    fill: rgba(255, 255, 255, 1) !important;
}

.THIS .search-trigger:hover button svg {
    fill: rgba(255, 255, 255, 0.5) !important;
}

.THIS .search-trigger:focus button svg {
    fill: rgba(255, 255, 255, 0.5) !important;
}

.THIS .search-box {
    border: 1px solid transparent !important;
    border-radius: 15px !important;
}

.THIS .search-box .search-inputSearchButton--right {
    background-color: rgb(0, 45, 86)
}

.THIS .search-box .search-inputSearchButton--right:hover {
    background-color: rgb(159, 166, 23)
}

.THIS .search-box .search-inputSearchButton--right:focus {
    background-color: rgb(159, 166, 23)
}