.customWidth {
    width: 10% !important;
    line-break: anywhere;
}

.omni-editblock-table-row {
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgb(255, 255, 255, 0);
  }
  
  
.omni-editblock-table-row[data-is-selected=true],
.omni-editblock-table-row:hover {
    background-color: #f4f6f9;
    border-color: #dddbda;
    border-color: #dddbda;
}

.nds-editblock_add-button {
    box-shadow: unset !important;
    font-size: 14px;
    letter-spacing: .5px;
    color: #00396b;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}