<template>
    <div class="nds-element_text-font nds-editblock_inline nds-grid nds-grid_vertical nds-p-horizontal_small">
      <template if:true={_isFirstIndex}>
        <!-- Header/Label -->
        <div class="nds-m-bottom_x-small nds-grid nds-m-top_small">
          <div class="nds-text-heading_small nds-text">
            {_propSetMap.label}
          </div>
        </div>
  
        <!-- Global Actions -->
        <div if:true={_propSetMap.gActions}
             class="nds-grid nds-wrap">
          <template for:each={_gActions}
                    for:item='gActionItem'
                    for:index='gActionIndex'>
            <template if:true={gActionItem.hasIcon}>
              <div key={gActionItem.lwcId}
                   class="nds-m-bottom_x-small nds-m-right_xx-small">
                <vlocity_ins-icon extraclass="nds-input__icon"
                        icon-name={gActionItem.icon}
                        theme="nds"
                        alternative-text="icon"
                        size="small"
                        style="cursor:pointer"
                        onclick={gActionItem.handleClick}>
                </vlocity_ins-icon>
              </div>
            </template>
            <template if:false={gActionItem.hasIcon}>
              <div key={gActionItem.lwcId}
                   class={gActionItem.cls}>
                <div class="nds-m-bottom_xx-small nds-m-right_xx-small">
                  <button class="nds-button nds-button_neutral nds-button_brand nds-size_1-of-1"
                          onclick={gActionItem.handleClick}>
                    {gActionItem.label}
                  </button>
                </div>
              </div>
            </template>
          </template>
        </div>
      </template>
  
      <!-- Table Header -->
      <template if:true={_isFirstIndex}>
        <div class="nds-border_bottom nds-border_top nds-border_left nds-border_right nds-grid nds-p-vertical_xx-small">
          <div class="nds-size_11-of-12 nds-grid">
            <template for:each={_tableLabels}
                      for:item='dvItem'
                      for:index='dvIndex'>
              <div key={dvItem.lwcId}
                   class={dvItem.cls}>
                <strong class="nds-text-title_caps nds-text-heading--label nds-p-vertical_x-small">
                  {dvItem.label}
                </strong>
              </div>
            </template>
          </div>
          <div class="nds-size_1-of-12">
            &nbsp;
          </div>
        </div>
      </template>
  
      <!-- Table is always visible -->
      <template if:true={_hasChildren}>
        <template if:false={_isEditing}>
          <div class="nds-grid nds-cont-wrapper nds-border_left nds-border_right omni-editblock-table-row"
               onclick={handleCheckbox}
               data-is-selected={_showCheckbox}>
            <div class="nds-size_12-of-12 nds-grid">
              <div class="nds-size_11-of-12 nds-grid">
                <span class="nds-is-absolute nds-required nds-grid nds-grid_vertical-align-center nds-p-left_xx-small nds-text-heading_medium"
                      if:true={showAsterisk}>
                  *
                </span>
                <template for:each={_displayValues}
                          for:item='dvItem'
                          for:index='dvIndex'>
                  <div key={dvItem.lwcId}
                       class={dvItem.cls}>
                    <!-- Text -->
                    <template if:false={dvItem.isCheckbox}>
                      {dvItem.value}
                    </template>
                    <!-- Checkbox for FS / Table -->
                    <template if:true={dvItem.isCheckbox}>
                      <div class="nds-checkbox"
                           style="padding-top:0px;">
                        <input type="checkbox"
                               checked={dvItem.value}
                               class="nds-input_mask">
                        <label class="nds-checkbox__label">
                          <span class="nds-checkbox_faux">
                          </span>
                        </label>
                      </div>
                    </template>
                  </div>
                </template>
              </div>
              <div class="nds-size_1-of-12 nds-grid nds-grid--vertical-align-center">
                <!-- Menu Action Icon -->
                <template if:true={_useActionMenu}>
                  <div class="nds-grid nds-grid_vertical nds-grid_vertical-align-end nds-col_bump-left nds-is-relative nds-m-right_x-small">
                    <button class="nds-button nds-button--icon-border-filled"
                            onclick={toggleActionMenu}
                            type="button">
                      <vlocity_ins-icon extraclass="nds-input__icon"
                              icon-name="utility:down"
                              theme="nds"
                              alternative-text="down icon"
                              size="x-small">
                      </vlocity_ins-icon>
                    </button>
                    <!-- Action Menu List -->
                    <div if:true={_bShowActionMenu}
                         class="nds-dropdown nds-dropdown_right"
                         style="top:100%;">
                      <ul class="nds-dropdown__list"
                          role="menu">
                        <template for:each={_actionMenuList}
                                  for:item='actionMenuItem'
                                  for:index='actionMenuIndex'>
                          <li key={actionMenuItem.lwcId}
                              class="nds-dropdown__item"
                              role="presentation"
                              onclick={actionMenuItem.handleClick}>
                            <a href="javascript:void(0);"
                               role="menuitem"
                               tabindex="-1">
                              <span class="nds-truncate">
                                {actionMenuItem.label}
                              </span>
                            </a>
                          </li>
                        </template>
                      </ul>
                    </div>
                    <!-- Click anywhere else will hide action menu list-->
                    <div if:true={_bShowActionMenu}
                         onclick={hideActionMenu}
                         class="nds-is-absolute"
                         style="width:1000vh;height:1000vh;left:-200vw;top:-200vh">
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <!-- bottom border of the table -->
          <div if:true={showAdd}
               class="nds-border_bottom nds-size-1-of-1">
          </div>
        </template>
      </template>
  
      <!-- Modal Editing -->
      <div class={editClass}>
        <div class="nds-modal_custom">
          <section role="dialog"
                   tabindex="-1"
                   class="nds-modal nds-fade-in-open nds-modal_large"
                   aria-modal="true">
            <div class="nds-modal__container">
              <header class="nds-modal__header">
                <h1 class="nds-text-heading_small nds-step_label">{_propSetMap.label}</h1>
              </header>
              <div class="nds-modal__content nds-p-around_medium">
                <slot class="nds-grid nds-wrap nds-grid_pull-padded nds-p-left_small"></slot>
              </div>
              <footer class="nds-modal__footer nds-button_text-font">
                <button type="button"
                        onclick={cancel}
                        class="nds-button nds-button_neutral nds-size_2-of-12 nds-text-align_center">
                  {allCustomLabelsUtil.OmnicancelLabel}
                </button>
                <button type="button"
                        onclick={save}
                        class="nds-button nds-button_neutral nds-button_brand nds-size_2-of-12 nds-text-align_center">
                  {allCustomLabelsUtil.OmniConfigProdModalOk}
                </button>
              </footer>
            </div>
          </section>
          <div class="nds-backdrop nds-backdrop_open"></div>
        </div>
      </div>
  
      <!-- Add Button -->
      <template if:true={showAdd}>
        <div class="nds-grid nds-m-top_small">
          <button type="button"
                  class="nds-button nds-m-top_x-small nds-text-align_center nds-editblock_add-button nds-col_bump-left"
                  onclick={handleAdd}>
            <vlocity_ins-icon class="nds-m-right_xx-small"
                    extraclass="nds-input__icon"
                    icon-name="utility:add"
                    theme="nds"
                    alternative-text="add icon"
                    size="x-small">
            </vlocity_ins-icon>
            <span>
              {_newLabel}
            </span>
          </button>
        </div>
      </template>
    </div>
  
    <!-- Spinner -->
    <template if:true={isPageLoading}>
      <vlocity_ins-spinner variant="brand"
                 alternative-text="Loading..."
                 theme={_theme}
                 size="medium">
      </vlocity_ins-spinner>
    </template>
  </template>