<template>
  <template if:true={tableDetails}>
    <vlocity_ins-data-table
    extraclass={tableDetails.extraClass}
    issearchavailable={tableDetails.isSearchAvailable}
    issortavailable={tableDetails.isSortAvailable}
    theme={tableDetails.theme}
    icon-url=""
    pagesize={tableDetails.pageSize}
    row-level-edit={tableDetails.rowLevelEdit}
    user-selectable-column={tableDetails.userSelectableColumn}
    columns={columns}
    records={records}
  >
  </vlocity_ins-data-table>
  </template>
</template>