<template>
            <div class="nds-grid nds-wrap nds-is-relative">
            <div if:false={cardLoaded} class="nds-is-absolute vloc-loader_override" style="height: 100%; width: 100%; min-height:50px; background: white; z-index: 99;">
  <div>
   <vlocity_ins-spinner
      variant="brand"
      alternative-text="Loading content..."
      size="small"
      theme="nds"
      ></vlocity_ins-spinner>
  </div>
</div>
            <template if:false={hasPermission}>
              You don't have required permissions to view this card.
            </template>
            <template if:true={hasPermission}>
              <template if:true={hasRecords}>
                        <template for:each={_records} for:item="record" for:index="rindex">
                            <vlocity_ins-flex-card-state key={record.uniqueKey} data-recordid={record.Id} record={record} data-statue="true"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-p-around_large nds-m-bottom_x-small " style="background-color:#fff;     border-color:#eee; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="nds-col  cardHeader nds-size_12-of-12  " style="            color:#16325C; "><vlocity_ins-output-field  card={card}  merge-field="%3Cdiv%3E%7BLineOfBusiness%7D%20Policy%3C/div%3E"  record={record}  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col  obj-num-field nds-size_12-of-12  " style="             "><vlocity_ins-output-field  card={card}  merge-field="%3Cdiv%3E%3Cspan%20style=%22font-family:%20Lato,%20sans-serif;%20font-size:%2010pt;%22%3E%3Cstrong%3E%3Cspan%20class=%22nds-text-heading_small%22%20style=%22color:%20#34495e;%22%3EPOLICY%20#:%20%7BPolicyNumber%7D%3C/span%3E%3C/strong%3E%3C/span%3E%3C/div%3E"  record={record}  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_12-of-12 " style=""><vlocity_ins-output-field  card={card}  field-name="AccountName"  label="Insured:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="text"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  condition-element" style=""><vlocity_ins-output-field  card={card}  currency="USD"  data-conditions='\{"group":[{"field":"LineOfBusiness","id":"state-new-condition-0","operator":"!=","type":"custom","value":"\"\""}],"id":"state-condition-object","isParent":true}'  field-name="LineOfBusiness"  format="MM/DD/YYYY"  label="Line Of Business:"  labelclass="fieldLabel"  locale="en-US"  placeholder=""  record={record}  type="text"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="Status"  label="Status:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="text"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="ExpirationDate"  format="MM/DD/YYYY"  label="Policy Expiration Date:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="date"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="LocationAddress"  format="MM/DD/YYYY"  label="Location Address:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="text"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="EffectiveDate"  format="MM/DD/YYYY"  label="Policy Effective Date:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="date"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="MailingAddress"  format="MM/DD/YYYY"  label="Mailing Address:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="text"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  currency="USD"  field-name="Premium"  format="MM/DD/YYYY"  label="Premium:"  labelclass="fieldLabel"  locale="en-US"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="currency"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="BillingAddress"  format="MM/DD/YYYY"  label="Billing Address:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="text"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  currency="USD"  field-name="Tax"  format="MM/DD/YYYY"  label="Taxes & Fees:"  labelclass="fieldLabel"  locale="en-US"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="currency"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  placeholder=""  record={record}  type="text"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style="             "><vlocity_ins-output-field  card={card}  currency="USD"  field-name="TotalAmount"  format="MM/DD/YYYY"  label="Total Amount:"  labelclass="fieldLabel"  locale="en-US"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial","fontSize":"1.25em","textDecoration":"bold"}}'  type="currency"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                        </template>
                      </template>
                      <template if:false={hasRecords}>
                            <vlocity_ins-flex-card-state  record={record} data-statue="false"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-p-around_large nds-m-bottom_x-small " style="background-color:#fff;     border-color:#eee; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="nds-col  cardHeader nds-size_12-of-12  " style="            color:#16325C; "><vlocity_ins-output-field  card={card}  merge-field="%3Cdiv%3E%7BLineOfBusiness%7D%20Policy%3C/div%3E"  record={record}  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col  obj-num-field nds-size_12-of-12  " style="             "><vlocity_ins-output-field  card={card}  merge-field="%3Cdiv%3E%3Cspan%20style=%22font-family:%20Lato,%20sans-serif;%20font-size:%2010pt;%22%3E%3Cstrong%3E%3Cspan%20class=%22nds-text-heading_small%22%20style=%22color:%20#34495e;%22%3EPOLICY%20#:%20%7BPolicyNumber%7D%3C/span%3E%3C/strong%3E%3C/span%3E%3C/div%3E"  record={record}  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_12-of-12 " style=""><vlocity_ins-output-field  card={card}  field-name="AccountName"  label="Insured:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="text"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  condition-element" style=""><vlocity_ins-output-field  card={card}  currency="USD"  data-conditions='\{"group":[{"field":"LineOfBusiness","id":"state-new-condition-0","operator":"!=","type":"custom","value":"\"\""}],"id":"state-condition-object","isParent":true}'  field-name="LineOfBusiness"  format="MM/DD/YYYY"  label="Line Of Business:"  labelclass="fieldLabel"  locale="en-US"  placeholder=""  record={record}  type="text"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="Status"  label="Status:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="text"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="ExpirationDate"  format="MM/DD/YYYY"  label="Policy Expiration Date:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="date"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="LocationAddress"  format="MM/DD/YYYY"  label="Location Address:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="text"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="EffectiveDate"  format="MM/DD/YYYY"  label="Policy Effective Date:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="date"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="MailingAddress"  format="MM/DD/YYYY"  label="Mailing Address:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="text"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  currency="USD"  field-name="Premium"  format="MM/DD/YYYY"  label="Premium:"  labelclass="fieldLabel"  locale="en-US"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="currency"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="BillingAddress"  format="MM/DD/YYYY"  label="Billing Address:"  labelclass="fieldLabel"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="text"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  currency="USD"  field-name="Tax"  format="MM/DD/YYYY"  label="Taxes & Fees:"  labelclass="fieldLabel"  locale="en-US"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial"}}'  type="currency"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style=""><vlocity_ins-output-field  card={card}  placeholder=""  record={record}  type="text"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_6-of-12  " style="             "><vlocity_ins-output-field  card={card}  currency="USD"  field-name="TotalAmount"  format="MM/DD/YYYY"  label="Total Amount:"  labelclass="fieldLabel"  locale="en-US"  placeholder=""  record={record}  styles='\{"value":{"fontFamily":"Arial","fontSize":"1.25em","textDecoration":"bold"}}'  type="currency"  valueclass="fieldValue"  theme="nds" ></vlocity_ins-output-field>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                      </template>
            </template>
            <template if:true={hasError}>
            {error}
            </template>
            
      <vlocity_ins-action action-wrapperclass="slds-hide" re-render-flyout class="action-trigger slds-col" onupdateos={updateOmniscript} onsetvalue={updateAction}>
      
      </vlocity_ins-action>
  
            <vlocity_ins-action class="execute-action" re-render-flyout action-wrapperclass="slds-hide" onupdateos={updateOmniscript} onsetvalue={updateAction}>
            
            </vlocity_ins-action>
            </div>
          </template>