<template>
    <template if:true={obj.PrimaryContact}>
        <div if:true={obj.PrimaryContact.Phone}>
            <label class="cust_label">Phone : </label>
            <a href="tel:#" class="nds-color-text-secondary">
                <lightning-formatted-phone value={obj.PrimaryContact.Phone}></lightning-formatted-phone>
            </a>
        </div>
    </template>
</template>