.obj-num-field{
    line-height: 1.25;
    color: #706e6b;
    text-transform: uppercase;
    letter-spacing: .0625rem !important;
}
.fieldLabel{
    display: inline-block;
    font-size: 14px;
}
.fieldValue{
    display: inline-block;
    overflow-wrap: break-word;
    max-width: 17rem;
    color: rgb(22, 50, 92);
    font-size: 14px;
    font-weight: 600;
}
vlocity_ins-output-field div {
    display: inline-block;
    vertical-align: text-top;
}
vlocity_ins-output-field div:first-child{
    min-width: 8rem;
}
.cardHeader{
    font-size: x-large;
}
.cardHeader lightning-formatted-rich-text span div::after{
    content: "";
    background: rgb(159, 166, 23);
    position: absolute;
    top: 4.5rem;
    left: 1.5rem;
    width: 3.125rem;
    height: .1875rem;
}
.green-icon{
    background: rgb(159, 166, 23);
}