<template>
    <lightning-card title="File Upload">
      <div if:true={showType}>
        <lightning-combobox
          name="type"
          label="File Type"
          value={selectedOption}
          placeholder="Select File Type"
          options={options}
          onchange={handleChange}
        ></lightning-combobox>
      </div>
      <div if:true={showFileUpload}>
        <lightning-file-upload
          label="Upload File"
          name="fileUploader"
          record-id={recordId}
          onuploadfinished={handleUploadFinished}
          multiple
        >
        </lightning-file-upload>
      </div>
    </lightning-card>
  </template>