<template>
            <div class="nds-grid nds-wrap nds-is-relative">
            <div if:false={cardLoaded} class="nds-is-absolute vloc-loader_override" style="height: 100%; width: 100%; min-height:50px; background: white; z-index: 99;">
  <div>
   <vlocity_ins-spinner
      variant="brand"
      alternative-text="Loading content..."
      size="small"
      theme="nds"
      ></vlocity_ins-spinner>
  </div>
</div>
            <template if:false={hasPermission}>
              You don't have required permissions to view this card.
            </template>
            <template if:true={hasPermission}>
              <template if:true={hasRecords}>
                        <template for:each={_records} for:item="record" for:index="rindex">
                            <vlocity_ins-flex-card-state key={record.uniqueKey} data-recordid={record.Id} record={record} data-statue="true"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-p-around_large nds-m-bottom_x-small " style="background-color:#fff;     border-color:#eee; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="nds-col  cardHeader nds-size_12-of-12  " style="             "><vlocity_ins-output-field  card={card}  merge-field="%3Cdiv%3EManage%20your%20quote%3C/div%3E"  record={record}  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[{"field":"QuoteStatus","id":"state-new-condition-6","operator":"!=","type":"custom","value":"Declined"},{"field":"QuoteStatus","id":"state-new-condition-15","logicalOperator":"&&","operator":"!=","type":"custom","value":"Underwriting Requested"}],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Bind Request","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1604759265716","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000E5HAAU","Name":"quote/BindRequest/English","isLwcOs":true},"openUrlIn":"New Tab/Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[{"field":"QuoteStatus","id":"state-new-condition-28","operator":"!=","type":"custom","value":"Declined"},{"field":"QuoteStatus","id":"state-new-condition-37","logicalOperator":"&&","operator":"!=","type":"custom","value":"Underwriting Requested"},{"field":"LineOfBusiness","id":"state-new-condition-22","logicalOperator":"&&","operator":"==","type":"custom","value":"WCIA"}],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Update Quote(If Any)","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1605200978806","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000DvvAAE","Name":"WCIfAny/UpdateApplication/English","isLwcOs":true},"openUrlIn":"Current Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[{"field":"QuoteStatus","id":"state-new-condition-28","operator":"!=","type":"custom","value":"Declined"},{"field":"QuoteStatus","id":"state-new-condition-37","logicalOperator":"&&","operator":"!=","type":"custom","value":"Underwriting Requested"},{"field":"LineOfBusiness","id":"state-new-condition-22","logicalOperator":"&&","operator":"==","type":"custom","value":"WCPay"}],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Update Quote(Payroll)","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1605201319656","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000DvvAAE","Name":"WCIfAny/UpdateApplication/English","isLwcOs":true},"openUrlIn":"Current Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[{"field":"QuoteStatus","id":"state-new-condition-28","operator":"!=","type":"custom","value":"Declined"},{"field":"QuoteStatus","id":"state-new-condition-37","logicalOperator":"&&","operator":"!=","type":"custom","value":"Underwriting Requested"},{"field":"LineOfBusiness","id":"state-new-condition-5","logicalOperator":"&&","operator":"==","type":"custom","value":"Crime"}],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Update Quote(Crime)","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1605201000341","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000FrCAAU","Name":"Crime/UpdateApplication/English","isLwcOs":true},"openUrlIn":"Current Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[{"field":"QuoteStatus","id":"state-new-condition-28","operator":"!=","type":"custom","value":"Declined"},{"field":"QuoteStatus","id":"state-new-condition-37","logicalOperator":"&&","operator":"!=","type":"custom","value":"Underwriting Requested"},{"field":"LineOfBusiness","id":"state-new-condition-73","logicalOperator":"&&","operator":"==","type":"custom","value":"WCIA"}],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Review Quote(If Any)","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1605201006786","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000DvRAAU","Name":"WCIfAny/ReviewApplication/English","isLwcOs":true},"openUrlIn":"Current Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[{"field":"QuoteStatus","id":"state-new-condition-28","operator":"!=","type":"custom","value":"Declined"},{"field":"QuoteStatus","id":"state-new-condition-37","logicalOperator":"&&","operator":"!=","type":"custom","value":"Underwriting Requested"},{"field":"LineOfBusiness","id":"state-new-condition-56","logicalOperator":"&&","operator":"==","type":"custom","value":"WCPay"}],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Review Quote(Payroll)","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1605201346431","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000Fj3AAE","Name":"WCPay/ReviewApplication/English","isLwcOs":true},"openUrlIn":"Current Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[{"field":"QuoteStatus","id":"state-new-condition-28","operator":"!=","type":"custom","value":"Declined"},{"field":"QuoteStatus","id":"state-new-condition-37","logicalOperator":"&&","operator":"!=","type":"custom","value":"Underwriting Requested"},{"field":"LineOfBusiness","id":"state-new-condition-39","logicalOperator":"&&","operator":"==","type":"custom","value":"Crime"}],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Review Quote(Crime)","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1605201371910","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000FpzAAE","Name":"Crime/ReviewApplication/English","isLwcOs":true},"openUrlIn":"Current Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Refresh Quote","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1604760995300","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000DvRAAU","Name":"WCIfAny/ReviewApplication/English","isLwcOs":true},"openUrlIn":"Current Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\!{Id}"  data-conditions='\{"group":[],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Open a Case","extraParams":{"Id":"!{Id}"},"hasExtraParams":true,"id":"flex-action-1606167042426","openUrlIn":"New Tab/Window","type":"OmniScript","vlocityIcon":"","layoutType":"newport","omniType":{"Name":"ContactUs/OpenACase/English","Id":"a5C3K0000009KYAUA2","isLwcOs":true},"isLwcOS":true}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                        </template>
                      </template>
                      <template if:false={hasRecords}>
                            <vlocity_ins-flex-card-state  record={record} data-statue="false"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-p-around_large nds-m-bottom_x-small " style="background-color:#fff;     border-color:#eee; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="nds-col  cardHeader nds-size_12-of-12  " style="             "><vlocity_ins-output-field  card={card}  merge-field="%3Cdiv%3EManage%20your%20quote%3C/div%3E"  record={record}  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[{"field":"QuoteStatus","id":"state-new-condition-6","operator":"!=","type":"custom","value":"Declined"},{"field":"QuoteStatus","id":"state-new-condition-15","logicalOperator":"&&","operator":"!=","type":"custom","value":"Underwriting Requested"}],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Bind Request","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1604759265716","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000E5HAAU","Name":"quote/BindRequest/English","isLwcOs":true},"openUrlIn":"New Tab/Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[{"field":"QuoteStatus","id":"state-new-condition-28","operator":"!=","type":"custom","value":"Declined"},{"field":"QuoteStatus","id":"state-new-condition-37","logicalOperator":"&&","operator":"!=","type":"custom","value":"Underwriting Requested"},{"field":"LineOfBusiness","id":"state-new-condition-22","logicalOperator":"&&","operator":"==","type":"custom","value":"WCIA"}],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Update Quote(If Any)","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1605200978806","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000DvvAAE","Name":"WCIfAny/UpdateApplication/English","isLwcOs":true},"openUrlIn":"Current Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[{"field":"QuoteStatus","id":"state-new-condition-28","operator":"!=","type":"custom","value":"Declined"},{"field":"QuoteStatus","id":"state-new-condition-37","logicalOperator":"&&","operator":"!=","type":"custom","value":"Underwriting Requested"},{"field":"LineOfBusiness","id":"state-new-condition-22","logicalOperator":"&&","operator":"==","type":"custom","value":"WCPay"}],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Update Quote(Payroll)","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1605201319656","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000DvvAAE","Name":"WCIfAny/UpdateApplication/English","isLwcOs":true},"openUrlIn":"Current Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[{"field":"QuoteStatus","id":"state-new-condition-28","operator":"!=","type":"custom","value":"Declined"},{"field":"QuoteStatus","id":"state-new-condition-37","logicalOperator":"&&","operator":"!=","type":"custom","value":"Underwriting Requested"},{"field":"LineOfBusiness","id":"state-new-condition-5","logicalOperator":"&&","operator":"==","type":"custom","value":"Crime"}],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Update Quote(Crime)","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1605201000341","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000FrCAAU","Name":"Crime/UpdateApplication/English","isLwcOs":true},"openUrlIn":"Current Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[{"field":"QuoteStatus","id":"state-new-condition-28","operator":"!=","type":"custom","value":"Declined"},{"field":"QuoteStatus","id":"state-new-condition-37","logicalOperator":"&&","operator":"!=","type":"custom","value":"Underwriting Requested"},{"field":"LineOfBusiness","id":"state-new-condition-73","logicalOperator":"&&","operator":"==","type":"custom","value":"WCIA"}],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Review Quote(If Any)","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1605201006786","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000DvRAAU","Name":"WCIfAny/ReviewApplication/English","isLwcOs":true},"openUrlIn":"Current Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[{"field":"QuoteStatus","id":"state-new-condition-28","operator":"!=","type":"custom","value":"Declined"},{"field":"QuoteStatus","id":"state-new-condition-37","logicalOperator":"&&","operator":"!=","type":"custom","value":"Underwriting Requested"},{"field":"LineOfBusiness","id":"state-new-condition-56","logicalOperator":"&&","operator":"==","type":"custom","value":"WCPay"}],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Review Quote(Payroll)","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1605201346431","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000Fj3AAE","Name":"WCPay/ReviewApplication/English","isLwcOs":true},"openUrlIn":"Current Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[{"field":"QuoteStatus","id":"state-new-condition-28","operator":"!=","type":"custom","value":"Declined"},{"field":"QuoteStatus","id":"state-new-condition-37","logicalOperator":"&&","operator":"!=","type":"custom","value":"Underwriting Requested"},{"field":"LineOfBusiness","id":"state-new-condition-39","logicalOperator":"&&","operator":"==","type":"custom","value":"Crime"}],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Review Quote(Crime)","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1605201371910","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000FpzAAE","Name":"Crime/ReviewApplication/English","isLwcOs":true},"openUrlIn":"Current Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\{Id}"  data-conditions='\{"group":[],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Refresh Quote","extraParams":{"Id":"{Id}"},"hasExtraParams":true,"id":"flex-action-1604760995300","isLwcOS":true,"layoutType":"newport","omniType":{"Id":"a3x6s0000000DvRAAU","Name":"WCIfAny/ReviewApplication/English","isLwcOs":true},"openUrlIn":"Current Window","type":"OmniScript","vlocityIcon":""}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   card={card}  context-id="\!{Id}"  data-conditions='\{"group":[],"id":"state-condition-object","isParent":true}'  record={record}  state-action='\{"displayName":"Open a Case","extraParams":{"Id":"!{Id}"},"hasExtraParams":true,"id":"flex-action-1606167042426","openUrlIn":"New Tab/Window","type":"OmniScript","vlocityIcon":"","layoutType":"newport","omniType":{"Name":"ContactUs/OpenACase/English","Id":"a5C3K0000009KYAUA2","isLwcOs":true},"isLwcOS":true}'  state-obj={record}  theme="nds" ></vlocity_ins-action>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                      </template>
            </template>
            <template if:true={hasError}>
            {error}
            </template>
            
      <vlocity_ins-action action-wrapperclass="slds-hide" re-render-flyout class="action-trigger slds-col" onupdateos={updateOmniscript} onsetvalue={updateAction}>
      
      </vlocity_ins-action>
  
            <vlocity_ins-action class="execute-action" re-render-flyout action-wrapperclass="slds-hide" onupdateos={updateOmniscript} onsetvalue={updateAction}>
            
            </vlocity_ins-action>
            </div>
          </template>