.cardHeader{
    font-size: x-large;
}
.cardHeader lightning-formatted-rich-text span div::after{
    content: "";
    background: rgb(159, 166, 23);
    position: absolute;
    top: 4.5rem;
    left: 1.5rem;
    width: 3.125rem;
    height: .1875rem;
}
.cardActions{
    font-size: 1rem;
    color: #97A800 !important;
    margin: 0.25rem 0;
}