<template>
            <div class="nds-grid nds-wrap nds-is-relative">
            <div if:false={cardLoaded} class="nds-is-absolute vloc-loader_override" style="height: 100%; width: 100%; min-height:50px; background: white; z-index: 99;">
  <div>
   <vlocity_ins-spinner
      variant="brand"
      alternative-text="Loading content..."
      size="small"
      theme="nds"
      ></vlocity_ins-spinner>
  </div>
</div>
            <template if:false={hasPermission}>
              You don't have required permissions to view this card.
            </template>
            <template if:true={hasPermission}>
              <template if:true={hasRecords}>
                        <template for:each={_records} for:item="record" for:index="rindex">
                            <vlocity_ins-flex-card-state key={record.uniqueKey} data-recordid={record.Id} record={record} data-statue="true"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-p-around_large nds-m-around_medium " style="background-color:#fff;     border-color:#cccccc; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-m-bottom_medium  nds-size_12-of-12  " style="             ">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          <div class="nds-col   nds-size_2-of-12  " style=""><vlocity_ins-flex-img  extraclass="slds-align_absolute-center"  record={record}  size=""  state-img='\{"alternativeText":"Image description","imgsrc":""}'  theme="nds" ></vlocity_ins-flex-img>
      </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="UserName"  format="M/D/YYYY"  label="Admin"  labelclass="agencyLabel"  mask="#,##0.###"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_5-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col  nds-theme_default nds-text-align_center updateButton nds-large-size_2-of-12 nds-medium-size_2-of-12 nds-small-size_1-of-12 nds-size_1-of-12  " style="background-color:#ffffff;     border-color:#ffffff;        "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   button-variant="brand"  card={card}  context-id="\{UserId}"  display-as-button="true"  icon-color="#ffffff"  icon-size="small"  record={record}  state-action='\{"displayName":"Update","extraParams":{"Id":"{recordId}"},"hasExtraParams":true,"id":"flex-action-1607542261037","isLwcOS":false,"layoutType":"newport","omniType":{"Id":"a5C6C000000IQwsUAG","Name":"CaisAgencyAdmin/ProfileUpdate/Procedure","isLwcOs":false},"openUrlIn":"Current Window","type":"OmniScript","vForcewithNsPrefix":"vlocity_ins__OmniScriptUniversalPage","vlocityIcon":""}'  state-obj={record}  styles='\{"label":{"color":"#9AA70C"}}'  theme="nds" ></vlocity_ins-action>
      </div>
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-m-bottom_medium  nds-size_12-of-12  " style="             ">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          <div class="nds-col   nds-p-around_x-small nds-size_2-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="UserNPN"  format="M/D/YYYY"  label="NPN"  labelclass="agencyLabel"  mask="#,##0.###"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="UserMobile"  label="Phone"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_2-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="UserFax"  label="FAX"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div>
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-m-bottom_medium  nds-size_12-of-12  " style="             ">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          <div class="nds-col   nds-p-around_x-small nds-size_2-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="UserWebsite"  label="Website"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="UserAddress"  label="Address"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div>
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-m-bottom_medium  nds-size_12-of-12  " style="             ">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          <div class="nds-col   nds-size_2-of-12  " style=""><vlocity_ins-flex-img  extraclass="slds-align_absolute-center"  record={record}  size=""  state-img='\{"alternativeText":"Image description","imgsrc":""}'  theme="nds" ></vlocity_ins-flex-img>
      </div><div class="nds-col   nds-size_4-of-12  " style="             "><vlocity_ins-output-field  card={card}  field-name="AccountName"  format="M/D/YYYY"  label="Agency"  labelclass="agencyLabel"  mask="#,##0.###"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_6-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div>
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-m-bottom_medium  nds-size_12-of-12  " style="             ">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          <div class="nds-col   nds-p-around_x-small nds-size_2-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="AgencyNPN"  label="NPN"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="AgencyPhone"  label="Phone"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="AgencyFax"  label="FAX"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div>
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-m-bottom_medium  nds-size_12-of-12  " style="             ">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          <div class="nds-col   nds-p-around_x-small nds-size_2-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_3-of-12  " style="             "><vlocity_ins-output-field  card={card}  field-name="AgencyTIN"  label="TIN"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="AgencyPhysicalAddress"  label="Physical Address"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_1-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="AgencyMailingAddress"  label="Mailing Address"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div>
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-m-bottom_medium  nds-size_12-of-12  " style="             ">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          <div class="nds-col   nds-p-around_x-small nds-size_2-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="AgencyWebsite"  label="Website"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div>
        </div></vlocity_ins-block>
    </div>
        </div>
      </vlocity_ins-flex-card-state>
                        </template>
                      </template>
                      <template if:false={hasRecords}>
                            <vlocity_ins-flex-card-state  record={record} data-statue="false"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-p-around_large nds-m-around_medium " style="background-color:#fff;     border-color:#cccccc; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-m-bottom_medium  nds-size_12-of-12  " style="             ">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          <div class="nds-col   nds-size_2-of-12  " style=""><vlocity_ins-flex-img  extraclass="slds-align_absolute-center"  record={record}  size=""  state-img='\{"alternativeText":"Image description","imgsrc":""}'  theme="nds" ></vlocity_ins-flex-img>
      </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="UserName"  format="M/D/YYYY"  label="Admin"  labelclass="agencyLabel"  mask="#,##0.###"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_5-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col  nds-theme_default nds-text-align_center updateButton nds-large-size_2-of-12 nds-medium-size_2-of-12 nds-small-size_1-of-12 nds-size_1-of-12  " style="background-color:#ffffff;     border-color:#ffffff;        "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   button-variant="brand"  card={card}  context-id="\{UserId}"  display-as-button="true"  icon-color="#ffffff"  icon-size="small"  record={record}  state-action='\{"displayName":"Update","extraParams":{"Id":"{recordId}"},"hasExtraParams":true,"id":"flex-action-1607542261037","isLwcOS":false,"layoutType":"newport","omniType":{"Id":"a5C6C000000IQwsUAG","Name":"CaisAgencyAdmin/ProfileUpdate/Procedure","isLwcOs":false},"openUrlIn":"Current Window","type":"OmniScript","vForcewithNsPrefix":"vlocity_ins__OmniScriptUniversalPage","vlocityIcon":""}'  state-obj={record}  styles='\{"label":{"color":"#9AA70C"}}'  theme="nds" ></vlocity_ins-action>
      </div>
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-m-bottom_medium  nds-size_12-of-12  " style="             ">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          <div class="nds-col   nds-p-around_x-small nds-size_2-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="UserNPN"  format="M/D/YYYY"  label="NPN"  labelclass="agencyLabel"  mask="#,##0.###"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="UserMobile"  label="Phone"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_2-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="UserFax"  label="FAX"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div>
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-m-bottom_medium  nds-size_12-of-12  " style="             ">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          <div class="nds-col   nds-p-around_x-small nds-size_2-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="UserWebsite"  label="Website"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="UserAddress"  label="Address"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div>
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-m-bottom_medium  nds-size_12-of-12  " style="             ">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          <div class="nds-col   nds-size_2-of-12  " style=""><vlocity_ins-flex-img  extraclass="slds-align_absolute-center"  record={record}  size=""  state-img='\{"alternativeText":"Image description","imgsrc":""}'  theme="nds" ></vlocity_ins-flex-img>
      </div><div class="nds-col   nds-size_4-of-12  " style="             "><vlocity_ins-output-field  card={card}  field-name="AccountName"  format="M/D/YYYY"  label="Agency"  labelclass="agencyLabel"  mask="#,##0.###"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_6-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div>
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-m-bottom_medium  nds-size_12-of-12  " style="             ">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          <div class="nds-col   nds-p-around_x-small nds-size_2-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="AgencyNPN"  label="NPN"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="AgencyPhone"  label="Phone"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="AgencyFax"  label="FAX"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div>
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-m-bottom_medium  nds-size_12-of-12  " style="             ">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          <div class="nds-col   nds-p-around_x-small nds-size_2-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_3-of-12  " style="             "><vlocity_ins-output-field  card={card}  field-name="AgencyTIN"  label="TIN"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="AgencyPhysicalAddress"  label="Physical Address"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_1-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="AgencyMailingAddress"  label="Mailing Address"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div>
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-m-bottom_medium  nds-size_12-of-12  " style="             ">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          <div class="nds-col   nds-p-around_x-small nds-size_2-of-12  " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_3-of-12  " style=""><vlocity_ins-output-field  card={card}  field-name="AgencyWebsite"  label="Website"  labelclass="agencyLabel"  placeholder=""  record={record}  type="text"  valueclass="agencyValue"  theme="nds" ></vlocity_ins-output-field>
      </div>
        </div></vlocity_ins-block>
    </div>
        </div>
      </vlocity_ins-flex-card-state>
                      </template>
            </template>
            <template if:true={hasError}>
            {error}
            </template>
            
      <vlocity_ins-action action-wrapperclass="slds-hide" re-render-flyout class="action-trigger slds-col" onupdateos={updateOmniscript} onsetvalue={updateAction}>
      
      </vlocity_ins-action>
  
            <vlocity_ins-action class="execute-action" re-render-flyout action-wrapperclass="slds-hide" onupdateos={updateOmniscript} onsetvalue={updateAction}>
            
            </vlocity_ins-action>
            </div>
          </template>