<template>
    <div dir={_dir}>
        <template if:true={hasErrors}>
            <lightning-layout vertical-align="stretch">
                <lightning-layout-item flexibility="auto" padding="around-small" class="slds-text-align_center slds-p-around_small" size="1">
                    <lightning-icon icon-name="utility:error" alternative-text="Error!" variant="error" size="large">
                    </lightning-icon>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="around-small" class="custom-box">
                    <p class="slds-text-heading_medium">{allCustomLabelsUtil.OmniScriptError}</p>
                    <p class="bold">{_errorMsg}</p>
                    <dl class="slds-dl_inline" if:false={_isActiveOs}>
                        <dt class="slds-dl_inline__label"><strong>{allCustomLabelsUtil.OmniScriptType}:</strong></dt>
                        <dd class="slds-dl_inline__detail">D_O</dd>
                        <dt class="slds-dl_inline__label"><strong>{allCustomLabelsUtil.OmniScriptSubType}:</strong></dt>
                        <dd class="slds-dl_inline__detail">ReviewApplication</dd>
                        <dt class="slds-dl_inline__label"><strong>{allCustomLabelsUtil.OmniScriptLang}:</strong></dt>
                        <dd class="slds-dl_inline__detail">English</dd>
                    </dl>
                    <p class="footer-message">{allCustomLabelsUtil.OmniScriptNotFound2}</p>
                </lightning-layout-item>
            </lightning-layout>
        </template>
        <template if:false={hasErrors}>
            <div class="via-nds">
                <template if:false={compLoaded}>
                    <div class="omni-spinner-container_wrapper">
                        <vlocity_ins-spinner variant="brand"
                                            alternative-text="Loading.."
                                            theme={_theme}
                                            size="medium">
                        </vlocity_ins-spinner>
                    </div>
                </template>
                <template if:true={bSflValid}>
                    <template if:true={firstRender}>
                        <template if:true={isLauncherVisible}>
                            <vlocity_ins-button label={inlineLabel}
                                                variant={inlineVariant}
                                                theme={_theme}
                                                onclick={setScriptVisibility}
                                                extraclass="nds-button_stretch">
                            </vlocity_ins-button>
                        </template>
                        <article class={containerClasses}>
                            <div class="nds-card__body nds-card__body_inner nds-m-top_medium">
                                <template if:true={bSflAuto}>
                                    <vlocity_ins-omniscript-save-for-later-acknowledge result={bSflResult}
                                                    layout={layout}
                                                    auto></vlocity_ins-omniscript-save-for-later-acknowledge>
                                </template>
                                <vlocity_ins-omniscript-step-chart json-def={jsonDef}
                                            json-data={jsonDef.response}
                                            if:false={jsonDef.propSetMap.hideStepChart}
                                            data-omni-key='omniscriptStepChart'
                                            props={stepChartProps}
                                            layout={layout}
                                            script-header-def={scriptHeaderDef}>
                                </vlocity_ins-omniscript-step-chart>
                                <template if:true={_isKbEnabledOnScript}>
                                <vlocity_ins-omniscript-knowledge-base knowledge-options={kbOptions}
                                                             data-omni-key='omniscriptKnowledgeBase'
                                                             layout={layout}
                                                             data-stepchart-placement={_stepChartPlacement}
                                                             omniscript-key={scriptHeaderDef.omniscriptKey}
                                                             kb-label={knowledgeLabel}>
                                </vlocity_ins-omniscript-knowledge-base>
                            </template>
                                <template if:true={isPageLoading}>
                                    <vlocity_ins-spinner variant="brand"
                                                        alternative-text="Loading..."
                                                        extraouterclass="nds-theme_default"
                                                        theme={_theme}
                                                        message={spinnerMessage}
                                                        size="medium">
                                    </vlocity_ins-spinner>
                                </template>
                                <template for:each={jsonDef.children} for:item="item" for:index="idx"><vlocity_ins-omniscript-dr-extract-action if:true={item.bDataRaptorExtractAction} key={item.lwcId} json-def={item} data-omni-key={item.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-dr-extract-action><vlocity_ins-omniscript-step if:true={item.bStep} key={item.lwcId} json-def={item} data-omni-key={item.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}><template for:each={item.children} for:item="itemChild0" for:index="itemChild0Idx"><template for:each={itemChild0.eleArray} for:item="itemChild0Ele" for:index="itemChild0Idx"><vlocity_ins-omniscript-text-block if:true={itemChild0Ele.bTextBlock} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-text-block><vlocity_ins-omniscript-date if:true={itemChild0Ele.bDate} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-date><vlocity_ins-omniscript-line-break if:true={itemChild0Ele.bLineBreak} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-line-break><vlocity_ins-omniscript-text if:true={itemChild0Ele.bText} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-text><vlocity_ins-omniscript-select if:true={itemChild0Ele.bSelect} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-select><vlocity_ins-omniscript-telephone if:true={itemChild0Ele.bTelephone} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-telephone><vlocity_ins-omniscript-email if:true={itemChild0Ele.bEmail} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-email><vlocity_ins-omniscript-checkbox if:true={itemChild0Ele.bCheckbox} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-checkbox><vlocity_ins-omniscript-radio if:true={itemChild0Ele.bRadio} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-radio><vlocity_ins-omniscript-block if:true={itemChild0Ele.bBlock} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}><template for:each={itemChild0Ele.children} for:item="itemChild0EleChild0" for:index="itemChild0EleChild0Idx"><template for:each={itemChild0EleChild0.eleArray} for:item="itemChild0EleChild0Ele" for:index="itemChild0EleChild0Idx"><vlocity_ins-omniscript-number if:true={itemChild0EleChild0Ele.bNumber} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-number><vlocity_ins-omniscript-formula if:true={itemChild0EleChild0Ele.bFormula} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-formula><vlocity_ins-omniscript-messaging if:true={itemChild0EleChild0Ele.bMessaging} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-messaging><vlocity_ins-omniscript-text-block if:true={itemChild0EleChild0Ele.bTextBlock} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-text-block><vlocity_ins-omniscript-radio if:true={itemChild0EleChild0Ele.bRadio} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-radio><vlocity_ins-omniscript-currency if:true={itemChild0EleChild0Ele.bCurrency} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-currency><vlocity_ins-omniscript-textarea if:true={itemChild0EleChild0Ele.bTextarea} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-textarea><vlocity_ins-omniscript-text if:true={itemChild0EleChild0Ele.bText} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-text><vlocity_ins-omniscript-date if:true={itemChild0EleChild0Ele.bDate} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-date></template></template></vlocity_ins-omniscript-block></template></template></vlocity_ins-omniscript-step><vlocity_ins-omniscript-navigate-action if:true={item.bNavigate} key={item.lwcId} json-def={item} data-omni-key={item.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-navigate-action></template>
                            </div>
                            <div class="nds-m-around_small">
                                <div class="nds-grid nds-grid_align-center">
                                    <div class="nds-grid nds-grid_align-center nds-wrap nds-button-group-row nds-size_1-of-1 nds-medium-size_8-of-12 nds-p-horizontal_medium">
                                        <template if:true={hasNext}>
                                            <vlocity_ins-navigate-action
                                                if:true={_isSeoEnabled}
                                                target-type="Current Page"
                                                class={navButton.next.classes}
                                                use-href
                                                target-params={navButton.next.targetParams}>
                                                <vlocity_ins-button
                                                    type="button"
                                                    label={navButton.next.label}
                                                    variant="brand"
                                                    extraclass="slds-size_1-of-1 slds-p-horizontal_none slds-text-align_center"
                                                    theme={_theme}>
                                                </vlocity_ins-button>
                                            </vlocity_ins-navigate-action>

                                            <vlocity_ins-button
                                                if:false={_isSeoEnabled}
                                                type="button"
                                                variant="brand"
                                                onclick={nextStep}
                                                class={navButton.next.classes}
                                                label={navButton.next.label}
                                                extraclass="nds-button_stretch nds-p-around_xx-small nds-size_1-of-1"
                                                theme={_theme}>
                                            </vlocity_ins-button>
                                        </template>
                                    </div>
                                </div>
                                <div class="nds-grid nds-grid_align-center">
                                    <div class="nds-grid nds-grid_align-center nds-wrap nds-button-group-row nds-size_1-of-1 nds-medium-size_8-of-12 nds-p-horizontal_medium">
                                        <template if:true={hasPrev}>
                                            <vlocity_ins-navigate-action
                                                if:true={_isSeoEnabled}
                                                target-type="Current Page"
                                                use-href
                                                class={navButton.previous.classes}
                                                target-params={navButton.previous.targetParams}>
                                                <vlocity_ins-button
                                                    type="button"
                                                    variant="neutral"
                                                    label={navButton.previous.label}
                                                    extraclass="nds-button_stretch nds-p-around_xx-small nds-size_1-of-1"
                                                    theme={_theme}>
                                                </vlocity_ins-button>
                                            </vlocity_ins-navigate-action>

                                            <vlocity_ins-button
                                                if:false={_isSeoEnabled}
                                                type="button"
                                                variant="neutral"
                                                onclick={prevStep}
                                                label={navButton.previous.label}
                                                class={navButton.previous.classes}
                                                extraclass="nds-button_stretch nds-p-around_xx-small nds-size_1-of-1"
                                                theme={_theme}>
                                            </vlocity_ins-button>
                                        </template>
                                    </div>
                                </div>
                                <div class="nds-grid nds-grid_align-center">
                                    <div class="nds-grid nds-grid_align-center nds-wrap nds-button-group-row nds-size_1-of-1 nds-medium-size_8-of-12 nds-p-horizontal_medium">

                                        <template if:true={cancelAction}>
                                            <vlocity_ins-button type="button"
                                                    label={cancelLabel}
                                                    variant="base"
                                                    class={navButton.save.classes}
                                                    extraclass="nds-button_stretch nds-p-around_xx-small nds-size_1-of-1"
                                                    onclick={cancel}
                                                    theme={_theme}>
                                            </vlocity_ins-button>
                                        </template>
                                        <vlocity_ins-navigate-action
                                            data-omni-key="DEFAULT-CANCEL"
                                            target-type={_defaultCancel.type}
                                            target-params={_defaultCancel.params}>
                                        </vlocity_ins-navigate-action>

                                        <template if:true={allowSfl}>
                                            <vlocity_ins-button type="button"
                                                                variant="base"
                                                                onclick={saveForLater}
                                                                class={navButton.save.classes}
                                                                label={navButton.save.label}
                                                                extraclass="nds-button_stretch nds-p-around_xx-small nds-size_1-of-1"
                                                                theme={_theme}>
                                            </vlocity_ins-button>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <template if:true={bSflComplete}>
                            <vlocity_ins-omniscript-save-for-later-acknowledge result={bSflResult} layout={layout}></vlocity_ins-omniscript-save-for-later-acknowledge>
                        </template>
                        <template for:each={modalEvents}
                                for:item="modallvl1"
                                for:index="indexlvl1">
                            <vlocity_ins-omniscript-modal data-omni-key='omnimodal'
                                    key={modallvl1.modalHeader}
                                    type={modallvl1.type}
                                    layout={layout}
                                    triggered-on-step={modallvl1.triggeredOnStep}
                                    hide-footer={modallvl1.hideFooter}
                                    hide-header={modallvl1.hideHeader}>
                                <div slot="header">
                                    <h1>{modallvl1.modalHeader}</h1>
                                </div>
                                <div slot="content">
                                    <vlocity_ins-omniscript-formatted-rich-text value={modallvl1.modalMessage} disable-linkify></vlocity_ins-omniscript-formatted-rich-text>
                                </div>
                                <div slot="footer">
                                    <ul class="slds-button-group-row">
                                        <template for:each={modallvl1.buttons}
                                                for:item="modalbutton"
                                                for:index="modalbuttonindex">
                                            <template if:true={modalbutton.label}>
                                                <li class="slds-button-group-item"
                                                    key={modalbutton.key}>
                                                    <lightning-button label={modalbutton.label}
                                                                    value={indexlvl1}
                                                                    onclick={modalbutton.handleClick}>
                                                    </lightning-button>
                                                </li>
                                            </template>
                                        </template>
                                    </ul>
                                </div>
                            </vlocity_ins-omniscript-modal>
                        </template>
                    </template>
                </template>
                <template if:false={bSflValid}>
                    <div class="nds-grid nds-wrap nds-gutters nds-p-horizontal_medium">
                        <div class="nds-col nds-size_12-of-12 nds-medium-size_2-of-12"></div>
                        <div class="nds-col nds-size_12-of-12 nds-medium-size_8-of-12">
                            <div class='nds-card omniscript-save-for-later'>
                                <div class="nds-card__header nds-grid">
                                    <header class="nds-media nds-media_center nds-has-flexi-truncate">
                                        <div class="nds-media__figure">
                                            <lightning-icon icon-name="utility:warning"
                                                            alternative-text="Ok"
                                                            size="large"></lightning-icon>
                                        </div>
                                        <div class="nds-media__body">
                                            <h2 class="nds-card__header-title">
                                                <span class="nds-text-heading_large">{allCustomLabelsUtil.OmniInvalidLwcComponent}</span>
                                            </h2>
                                        </div>
                                    </header>
                                </div>
                                <div class='nds-card__body nds-card__body_inner'>
                                    <p class="bold">{allCustomLabelsUtil.OmniInvalidLwcComponentMessage}</p>
                                    <p>&nbsp;</p>
                                    <div class="nds-m-around_small">
                                        <div class="nds-grid">
                                            <div class="nds-grid nds-wrap nds-button-group-row nds-size_1-of-1 nds-medium-size_8-of-12 nds-p-horizontal_medium">
                                                    <vlocity_ins-button type="button"
                                                                        variant="brand"
                                                                        onclick={handleContinueInvalidSfl}
                                                                        label={allCustomLabelsUtil.OmniContinue}
                                                                        class="nds-m-left_x-small"
                                                                        extraclass="nds-button_stretch nds-p-around_xx-small nds-size_1-of-1"
                                                                        theme={_theme}>
                                                    </vlocity_ins-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nds-col nds-size_12-of-12 nds-medium-size_2-of-12"></div>
                    </div>
                </template>
            </div>
        </template>
    </div>
</template>