<template>
    <div dir={_dir}>
        <template if:true={hasErrors}>
            <lightning-layout vertical-align="stretch">
                <lightning-layout-item flexibility="auto" padding="around-small" class="slds-text-align_center slds-p-around_small" size="1">
                    <lightning-icon icon-name="utility:error" alternative-text="Error!" variant="error" size="large">
                    </lightning-icon>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="around-small" class="custom-box">
                    <p class="slds-text-heading_medium">{allCustomLabelsUtil.OmniScriptError}</p>
                    <p class="bold">{_errorMsg}</p>
                    <dl class="slds-dl_inline" if:false={_isActiveOs}>
                        <dt class="slds-dl_inline__label"><strong>{allCustomLabelsUtil.OmniScriptType}:</strong></dt>
                        <dd class="slds-dl_inline__detail">D_O</dd>
                        <dt class="slds-dl_inline__label"><strong>{allCustomLabelsUtil.OmniScriptSubType}:</strong></dt>
                        <dd class="slds-dl_inline__detail">UpdateApplication</dd>
                        <dt class="slds-dl_inline__label"><strong>{allCustomLabelsUtil.OmniScriptLang}:</strong></dt>
                        <dd class="slds-dl_inline__detail">English</dd>
                    </dl>
                    <p class="footer-message">{allCustomLabelsUtil.OmniScriptNotFound2}</p>
                </lightning-layout-item>
            </lightning-layout>
        </template>
        <template if:false={hasErrors}>
            <template if:false={compLoaded}>
                <div class="slds-spinner-container__wrapper">
                    <vlocity_ins-spinner variant="brand"
                                        alternative-text="Loading..."
                                        size="medium">
                    </vlocity_ins-spinner>
                </div>
            </template>
            <template if:true={bSflValid}>
                <template if:true={firstRender}>
                    <template if:true={isLauncherVisible}>
                        <vlocity_ins-button label={inlineLabel}
                                            variant={inlineVariant}
                                            theme={_theme}
                                            onclick={setScriptVisibility}
                                            extraclass="slds-button_stretch">
                        </vlocity_ins-button>
                    </template>
                    <article class={containerClasses}
                            data-content-position={stepChartProps.position}>
                        <div class={_sideContentClasses}>
                            <vlocity_ins-omniscript-step-chart json-def={jsonDef}
                                        json-data={jsonDef.response}
                                        if:false={jsonDef.propSetMap.hideStepChart}
                                        data-omni-key='omniscriptStepChart'
                                        props={stepChartProps}
                                        layout={layout}
                                        script-header-def={scriptHeaderDef}>
                            </vlocity_ins-omniscript-step-chart>
                            <template if:true={_isKbEnabledOnScript}>
                                <vlocity_ins-omniscript-knowledge-base knowledge-options={kbOptions}
                                                             data-omni-key='omniscriptKnowledgeBase'
                                                             layout={layout}
                                                             data-stepchart-placement={_stepChartPlacement}
                                                             omniscript-key={scriptHeaderDef.omniscriptKey}
                                                             kb-label={knowledgeLabel}>
                                </vlocity_ins-omniscript-knowledge-base>
                            </template>
                        </div>
                        <div data-stepborder={stepChartProps.position}
                            class={contentSldsClass}>
                            <template if:true={isPageLoading}>
                                <vlocity_ins-spinner variant="brand"
                                                    alternative-text="Loading..."
                                                    extraouterclass="slds-theme_default"
                                                    message={spinnerMessage}
                                                    size="medium">
                                </vlocity_ins-spinner>
                            </template>
                            <template if:true={bSflAuto}>
                                <vlocity_ins-omniscript-save-for-later-acknowledge result={bSflResult}
                                                layout={layout}
                                                auto></vlocity_ins-omniscript-save-for-later-acknowledge>
                            </template>
                            <template for:each={jsonDef.children} for:item="item" for:index="idx"><vlocity_ins-omniscript-dr-extract-action if:true={item.bDataRaptorExtractAction} key={item.lwcId} json-def={item} data-omni-key={item.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-dr-extract-action><vlocity_ins-omniscript-step if:true={item.bStep} key={item.lwcId} json-def={item} data-omni-key={item.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}><template for:each={item.children} for:item="itemChild0" for:index="itemChild0Idx"><template for:each={itemChild0.eleArray} for:item="itemChild0Ele" for:index="itemChild0Idx"><vlocity_ins-omniscript-text-block if:true={itemChild0Ele.bTextBlock} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-text-block><vlocity_ins-omniscript-block if:true={itemChild0Ele.bBlock} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}><template for:each={itemChild0Ele.children} for:item="itemChild0EleChild0" for:index="itemChild0EleChild0Idx"><template for:each={itemChild0EleChild0.eleArray} for:item="itemChild0EleChild0Ele" for:index="itemChild0EleChild0Idx"><vlocity_ins-omniscript-text if:true={itemChild0EleChild0Ele.bText} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-text><vlocity_ins-omniscript-checkbox if:true={itemChild0EleChild0Ele.bCheckbox} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-checkbox><vlocity_ins-omniscript-formula if:true={itemChild0EleChild0Ele.bFormula} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-formula><vlocity_ins-omniscript-line-break if:true={itemChild0EleChild0Ele.bLineBreak} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-line-break><vlocity_ins-omniscript-select if:true={itemChild0EleChild0Ele.bSelect} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-select><vlocity_ins-omniscript-radio if:true={itemChild0EleChild0Ele.bRadio} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-radio><vlocity_ins-omniscript-typeahead-block if:true={itemChild0EleChild0Ele.bTypeaheadBlock} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}><template for:each={itemChild0EleChild0Ele.children} for:item="itemChild0EleChild0EleChild0" for:index="itemChild0EleChild0EleChild0Idx"><template for:each={itemChild0EleChild0EleChild0.eleArray} for:item="itemChild0EleChild0EleChild0Ele" for:index="itemChild0EleChild0EleChild0Idx"><vlocity_ins-omniscript-places-typeahead if:true={itemChild0EleChild0EleChild0Ele.bPlacesTypeahead} key={itemChild0EleChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0EleChild0Ele} data-omni-key={itemChild0EleChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-places-typeahead><vlocity_ins-omniscript-text if:true={itemChild0EleChild0EleChild0Ele.bText} key={itemChild0EleChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0EleChild0Ele} data-omni-key={itemChild0EleChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-text><vlocity_ins-omniscript-typeahead if:true={itemChild0EleChild0EleChild0Ele.bTypeahead} key={itemChild0EleChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0EleChild0Ele} data-omni-key={itemChild0EleChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-typeahead></template></template></vlocity_ins-omniscript-typeahead-block><vlocity_ins-omniscript-textarea if:true={itemChild0EleChild0Ele.bTextarea} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-textarea><vlocity_ins-omniscript-block if:true={itemChild0EleChild0Ele.bBlock} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}><template for:each={itemChild0EleChild0Ele.children} for:item="itemChild0EleChild0EleChild0" for:index="itemChild0EleChild0EleChild0Idx"><template for:each={itemChild0EleChild0EleChild0.eleArray} for:item="itemChild0EleChild0EleChild0Ele" for:index="itemChild0EleChild0EleChild0Idx"><vlocity_ins-omniscript-text if:true={itemChild0EleChild0EleChild0Ele.bText} key={itemChild0EleChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0EleChild0Ele} data-omni-key={itemChild0EleChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-text><vlocity_ins-omniscript-select if:true={itemChild0EleChild0EleChild0Ele.bSelect} key={itemChild0EleChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0EleChild0Ele} data-omni-key={itemChild0EleChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-select><vlocity_ins-omniscript-email if:true={itemChild0EleChild0EleChild0Ele.bEmail} key={itemChild0EleChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0EleChild0Ele} data-omni-key={itemChild0EleChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-email><vlocity_ins-omniscript-telephone if:true={itemChild0EleChild0EleChild0Ele.bTelephone} key={itemChild0EleChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0EleChild0Ele} data-omni-key={itemChild0EleChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-telephone></template></template></vlocity_ins-omniscript-block><vlocity_ins-omniscript-date if:true={itemChild0EleChild0Ele.bDate} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-date><vlocity_ins-omniscript-messaging if:true={itemChild0EleChild0Ele.bMessaging} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-messaging><vlocity_ins-omniscript-lookup if:true={itemChild0EleChild0Ele.bLookup} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-lookup><vlocity_ins-omniscript-number if:true={itemChild0EleChild0Ele.bNumber} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-number><vlocity_ins-omniscript-text-block if:true={itemChild0EleChild0Ele.bTextBlock} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-text-block><vlocity_ins-omniscript-currency if:true={itemChild0EleChild0Ele.bCurrency} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-currency><vlocity_ins-omniscript-file if:true={itemChild0EleChild0Ele.bFile} key={itemChild0EleChild0Ele.lwcId} json-def={itemChild0EleChild0Ele} data-omni-key={itemChild0EleChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-file></template></template></vlocity_ins-omniscript-block><vlocity_ins-omniscript-formula if:true={itemChild0Ele.bFormula} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-formula></template></template></vlocity_ins-omniscript-step><vlocity_ins-omniscript-ip-action if:true={item.bIntegrationProcedureAction} key={item.lwcId} json-def={item} data-omni-key={item.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-ip-action><vlocity_ins-omniscript-set-values if:true={item.bSetValues} key={item.lwcId} json-def={item} data-omni-key={item.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-set-values><vlocity_ins-omniscript-remote-action if:true={item.bRemoteAction} key={item.lwcId} json-def={item} data-omni-key={item.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-remote-action><vlocity_ins-omniscript-dr-post-action if:true={item.bDataRaptorPostAction} key={item.lwcId} json-def={item} data-omni-key={item.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-dr-post-action><vlocity_ins-omniscript-navigate-action if:true={item.bNavigate} key={item.lwcId} json-def={item} data-omni-key={item.name} json-data={jsonDef.response} json-data-str={jsonDataStr} layout={layout} resume={resume} script-header-def={scriptHeaderDef} run-mode={runMode}></vlocity_ins-omniscript-navigate-action></template>
                            <div class="slds-grid slds-wrap slds-gutters slds-p-horizontal_medium">
                                <div class="slds-col slds-order_2 slds-medium-order_1 slds-size_12-of-12 slds-medium-size_6-of-12">
                                    <div class="omniscript-sfl-actions">
                                        <div if:true={cancelAction}>
                                            <vlocity_ins-button
                                                type="button"
                                                label={cancelLabel}
                                                variant="base"
                                                class={navButton.save.classes}
                                                onclick={cancel}>
                                            </vlocity_ins-button>
                                        </div>

                                        <vlocity_ins-navigate-action
                                            data-omni-key="DEFAULT-CANCEL"
                                            target-type={_defaultCancel.type}
                                            target-params={_defaultCancel.params}>
                                        </vlocity_ins-navigate-action>

                                        <template if:true={allowSfl}>
                                            <div>
                                                <vlocity_ins-button type="button"
                                                        label={navButton.save.label}
                                                        variant="base"
                                                        class={navButton.save.classes}
                                                        onclick={saveForLater}>
                                                </vlocity_ins-button>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                                <div class="slds-col slds-order_1 slds-medium-order_2 slds-size_12-of-12 slds-medium-size_6-of-12">
                                    <div class="slds-grid slds-wrap slds-grid_align-end omniscript-button-position">
                                        <template if:true={hasPrev}>
                                            <vlocity_ins-navigate-action
                                                if:true={_isSeoEnabled}
                                                target-type="Current Page"
                                                class={navButton.previous.classes}
                                                use-href
                                                target-params={navButton.previous.targetParams}>
                                                <vlocity_ins-button
                                                    type="button"
                                                    label={navButton.previous.label}
                                                    variant="neutral"
                                                    extraclass="slds-size_1-of-1 slds-p-horizontal_none slds-text-align_center">
                                                </vlocity_ins-button>
                                            </vlocity_ins-navigate-action>

                                            <vlocity_ins-button
                                                if:false={_isSeoEnabled}
                                                type="button"
                                                label={navButton.previous.label}
                                                variant="neutral"
                                                class={navButton.previous.classes}
                                                extraclass="slds-size_1-of-1 slds-p-horizontal_none slds-text-align_center"
                                                onclick={prevStep}>
                                            </vlocity_ins-button>
                                        </template>
                                        <template if:true={hasNext}>
                                            <vlocity_ins-navigate-action
                                                if:true={_isSeoEnabled}
                                                target-type="Current Page"
                                                use-href
                                                class={navButton.next.classes}
                                                target-params={navButton.next.targetParams}>
                                                <vlocity_ins-button
                                                    type="button"
                                                    label={navButton.next.label}
                                                    variant="brand"
                                                    extraclass="slds-size_1-of-1 slds-p-horizontal_none slds-text-align_center">
                                                </vlocity_ins-button>
                                            </vlocity_ins-navigate-action>

                                            <vlocity_ins-button
                                                if:false={_isSeoEnabled}
                                                type="button"
                                                label={navButton.next.label}
                                                variant="brand"
                                                class={navButton.next.classes}
                                                extraclass="slds-size_1-of-1 slds-p-horizontal_none slds-text-align_center"
                                                onclick={nextStep}>
                                            </vlocity_ins-button>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <template if:true={bSflComplete}>
                        <vlocity_ins-omniscript-save-for-later-acknowledge result={bSflResult} layout={layout}></vlocity_ins-omniscript-save-for-later-acknowledge>
                    </template>
                    <template for:each={modalEvents}
                            for:item="modallvl1"
                            for:index="indexlvl1">
                        <vlocity_ins-omniscript-modal data-omni-key='omnimodal'
                                key={modallvl1.modalHeader}
                                type={modallvl1.type}
                                layout={layout}
                                triggered-on-step={modallvl1.triggeredOnStep}
                                hide-footer={modallvl1.hideFooter}
                                hide-header={modallvl1.hideHeader}>
                            <div slot="header">
                                <h1>{modallvl1.modalHeader}</h1>
                            </div>
                            <div slot="content">
                                <vlocity_ins-omniscript-formatted-rich-text value={modallvl1.modalMessage} disable-linkify></vlocity_ins-omniscript-formatted-rich-text>
                            </div>
                            <div slot="footer">
                                <ul class="slds-button-group-row">
                                    <template for:each={modallvl1.buttons}
                                            for:item="modalbutton"
                                            for:index="modalbuttonindex">
                                        <template if:true={modalbutton.label}>
                                            <li class="slds-button-group-item"
                                                key={modalbutton.key}>
                                                <lightning-button label={modalbutton.label}
                                                                value={indexlvl1}
                                                                onclick={modalbutton.handleClick}>
                                                </lightning-button>
                                            </li>
                                        </template>
                                    </template>
                                </ul>
                            </div>
                        </vlocity_ins-omniscript-modal>
                    </template>
                </template>
            </template>

            <template if:false={bSflValid}>
                <div class="slds-grid slds-wrap slds-gutters slds-p-horizontal_medium">
                    <div class="slds-col slds-size_12-of-12 slds-medium-size_2-of-12"></div>
                    <div class="slds-col slds-size_12-of-12 slds-medium-size_8-of-12">
                        <div class='slds-card omniscript-save-for-later'>
                            <div class="slds-card__header slds-grid">
                                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                    <div class="slds-media__figure">
                                        <lightning-icon icon-name="utility:warning"
                                                        alternative-text="Ok"
                                                        variant="warning"
                                                        size="large"></lightning-icon>
                                    </div>
                                    <div class="slds-media__body">
                                        <h2 class="slds-card__header-title">
                                            <span class="slds-text-heading_large">{allCustomLabelsUtil.OmniInvalidLwcComponent}</span>
                                        </h2>
                                    </div>
                                </header>
                            </div>
                            <div class='slds-card__body slds-card__body_inner'>
                                <p class="bold">{allCustomLabelsUtil.OmniInvalidLwcComponentMessage}</p>
                                <p>&nbsp;</p>
                                <div class="slds-grid slds-wrap slds-gutters slds-p-horizontal_medium">
                                    <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
                                        <lightning-button variant="brand"
                                                        label={allCustomLabelsUtil.OmniContinue}
                                                        title={allCustomLabelsUtil.OmniContinue}
                                                        class="slds-m-left_x-small"
                                                        onclick={handleContinueInvalidSfl}
                                                        style="padding-left: 10px"></lightning-button>
                                    </div>
                                    <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_12-of-12 slds-medium-size_2-of-12"></div>
                </div>
            </template>
        </template>
    </div>
</template>