.nds-canvas__title:after {
    content: "";
    background: #9FA617 !important; 
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 3.125rem;
    height: 0.1875rem; }

.nds-select_container .nds-select {
    border-color: #9FA617 !important;
    border-width: medium !important;

}

.nds-select:focus, .nds-select:active {
    
    border-color:#9FA617 !important;
    border-width: medium !important;
}

.nds-button--brand:hover, .nds-button--brand:focus {
    background-color: #9FA617 !important;
    border-color: #9FA617 !important;
    color: #fff !important;
}
.nds-button--brand {
    background-color: #002D56 !important;
    border-color: #002D56 !important;
    color: #fff !important;
    padding: 10px 20px
}