<template>
            <div class="slds-grid slds-wrap slds-is-relative">
            <div if:false={cardLoaded} class="slds-is-absolute vloc-loader_override" style="height: 100%; width: 100%; min-height:50px; background: white; z-index: 99;">
  <div>
   <vlocity_ins-spinner
      variant="brand"
      alternative-text="Loading content..."
      size="medium"
      theme="slds"
      ></vlocity_ins-spinner>
  </div>
</div>
            <template if:false={hasPermission}>
              You don't have required permissions to view this card.
            </template>
            <template if:true={hasPermission}>
              <template if:true={hasRecords}>
                      <vlocity_ins-flex-card-state   data-statue="true"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state slds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="slds-grid slds-wrap slds-card slds-p-around_x-small slds-m-bottom_x-small " style="             ">
          <div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-data-table  issearchavailable="false"  issortavailable="true"  cell-level-edit="true"  pagelimit="3"  group-order="asc"  pagesize="15"  columns='\[{"fieldName":"LOB","label":"LOB","searchable":false,"sortable":true,"type":"text"},{"fieldName":"Carrier","label":"Carrier","searchable":false,"sortable":true,"type":"text"},{"fieldName":"StateClassification","label":"State Classification","searchable":false,"sortable":true,"type":"text"},{"fieldName":"BusinessType","label":"Business Type","searchable":false,"sortable":true,"type":"text"},{"fieldName":"PolicyCountRange","label":"Policy Count Range","searchable":false,"sortable":true,"type":"number"},{"fieldName":"OverrideCategory","label":"Override Type","searchable":false,"sortable":true,"type":"text"},{"fieldName":"CarrierPercentage","label":"Carrier Percentage","searchable":false,"sortable":true,"type":"percent"},{"fieldName":"CAISPercent","label":"CAIS Percentage","searchable":false,"sortable":true,"type":"percent"},{"fieldName":"AgencyPercentage","label":"Agency Percentage","searchable":false,"sortable":true,"type":"percent"}]'  records={records}  theme="slds" ></vlocity_ins-data-table>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                </template>
                <template if:false={hasRecords}>
                      <vlocity_ins-flex-card-state   data-statue="false"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state slds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="slds-grid slds-wrap slds-card slds-p-around_x-small slds-m-bottom_x-small " style="             ">
          <div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-data-table  issearchavailable="false"  issortavailable="true"  cell-level-edit="true"  pagelimit="3"  group-order="asc"  pagesize="15"  columns='\[{"fieldName":"LOB","label":"LOB","searchable":false,"sortable":true,"type":"text"},{"fieldName":"Carrier","label":"Carrier","searchable":false,"sortable":true,"type":"text"},{"fieldName":"StateClassification","label":"State Classification","searchable":false,"sortable":true,"type":"text"},{"fieldName":"BusinessType","label":"Business Type","searchable":false,"sortable":true,"type":"text"},{"fieldName":"PolicyCountRange","label":"Policy Count Range","searchable":false,"sortable":true,"type":"number"},{"fieldName":"OverrideCategory","label":"Override Type","searchable":false,"sortable":true,"type":"text"},{"fieldName":"CarrierPercentage","label":"Carrier Percentage","searchable":false,"sortable":true,"type":"percent"},{"fieldName":"CAISPercent","label":"CAIS Percentage","searchable":false,"sortable":true,"type":"percent"},{"fieldName":"AgencyPercentage","label":"Agency Percentage","searchable":false,"sortable":true,"type":"percent"}]'  records={records}  theme="slds" ></vlocity_ins-data-table>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                </template>
            </template>
            <template if:true={hasError}>
            {error}
            </template>
            
      <vlocity_ins-action action-wrapperclass="slds-hide" re-render-flyout class="action-trigger slds-col" onupdateos={updateOmniscript} onsetvalue={updateAction}>
      
      </vlocity_ins-action>
  
            <vlocity_ins-action class="execute-action" re-render-flyout action-wrapperclass="slds-hide" onupdateos={updateOmniscript} onsetvalue={updateAction}>
            
            </vlocity_ins-action>
            </div>
          </template>