<template>
            <div class="nds-grid nds-wrap nds-is-relative">
            <div if:false={cardLoaded} class="nds-is-absolute vloc-loader_override" style="height: 100%; width: 100%; min-height:50px; background: white; z-index: 99;">
  <div>
   <vlocity_ins-spinner
      variant="brand"
      alternative-text="Loading content..."
      size="small"
      theme="nds"
      ></vlocity_ins-spinner>
  </div>
</div>
            <template if:false={hasPermission}>
              You don't have required permissions to view this card.
            </template>
            <template if:true={hasPermission}>
              <template if:true={hasRecords}>
                      <vlocity_ins-flex-card-state   data-statue="true"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-p-around_large nds-m-bottom_x-small " style="background-color:#fff;     border-color:#eee; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="nds-col  cardHeader nds-size_12-of-12  " style="            color:#16325C; "><vlocity_ins-output-field  card={card}  merge-field="%3Cdiv%3EDocuments%3C/div%3E"  record={record}  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  label="Block"  collapsible="false"  record={record}  collapsed-by-default="false"  card={card}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_12-of-12 " style=""><c-cf-cais-policy-document-repeater  tracking-obj={_childCardTrackingObj}   record-id={recordId}  parent-data={_dataNode}  is-child-card-tracking-enabled="false"  parent-record={record}  records={_records}  theme="nds"  onupdateparent={updateParentData}></c-cf-cais-policy-document-repeater>
    </div>
        </div>
      </vlocity_ins-flex-card-state>
                </template>
                <template if:false={hasRecords}>
                      <vlocity_ins-flex-card-state   data-statue="false"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-p-around_large nds-m-bottom_x-small " style="background-color:#fff;     border-color:#eee; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="nds-col  cardHeader nds-size_12-of-12  " style="            color:#16325C; "><vlocity_ins-output-field  card={card}  merge-field="%3Cdiv%3EDocuments%3C/div%3E"  record={record}  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  label="Block"  collapsible="false"  record={record}  collapsed-by-default="false"  card={card}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  card={card}  collapsed-by-default="false"  collapsible="false"  label="Block"  record={record}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-size_12-of-12 " style=""><c-cf-cais-policy-document-repeater  tracking-obj={_childCardTrackingObj}   record-id={recordId}  parent-data={_dataNode}  is-child-card-tracking-enabled="false"  parent-record={record}  records={_records}  theme="nds"  onupdateparent={updateParentData}></c-cf-cais-policy-document-repeater>
    </div>
        </div>
      </vlocity_ins-flex-card-state>
                </template>
            </template>
            <template if:true={hasError}>
            {error}
            </template>
            
      <vlocity_ins-action action-wrapperclass="slds-hide" re-render-flyout class="action-trigger slds-col" onupdateos={updateOmniscript} onsetvalue={updateAction}>
      
      </vlocity_ins-action>
  
            <vlocity_ins-action class="execute-action" re-render-flyout action-wrapperclass="slds-hide" onupdateos={updateOmniscript} onsetvalue={updateAction}>
            
            </vlocity_ins-action>
            </div>
          </template>