<template>
  <div class="card-table">
    <div class="nds-m-horizontal--large nds-m-vertical--medium">
    <div class="nds-is-relative">
    <div class="nds-m-bottom--xx-large nds-canvas__title" >
      Policies
    </div>
  </div>
    <c-cais-generic-table-component
    record-id={recordId}
    table-name={tableName}
    bundle-name={bundleName}
  ></c-cais-generic-table-component>
</div>
</div>
</template>