.nds-canvas__title:after {
    content: "";
    background: #9FA617 !important; 
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 3.125rem;
    height: 0.1875rem; 
}
.m-b-2r{
    margin-bottom: 2rem;
}
.card-table{
    border: 0.0625rem solid rgba(0, 0, 0, 0.05);
}