@import "npVariables";
/*** STYLES ***/
// include mixin "npVariables" for fonts and colors.
// npVariables mixin template should be active.
    .vlocity { /* Always use vlocity class as a wrapper */
        .np-table-list{
            .np-table-list-grid{
                position: relative;
                // font-size:$font-medium;
                color: $text-color;
                vertical-align: top;
                .np-table-list-plus-text{
                    font-size:$font-medium;
                }
                &.custom-border--bottom{
                    // border-bottom: 1px solid $border-color-1;
                }
                .vloc-attr-showmore{
                        position: absolute;
                        right: .6rem;
                        top: .9rem;
                }
                
                .slds-input[disabled] {
                    background-color: #e0e5ee;
                }
                
              
                .np-mobile-icon{
                    display: block;
                } 
                
                .np-attr-heading{
                    font-size: $font-x-medium;
                }
                
                a{
                    display : block;
                }
            
         }
        }
        .custom-link--color
        {
            color:$theme-color-1;
        }
        
        .custom-field-label
            {
                color: $text-color;
            }
            
        .custom-text-bold
        {
            font-weight:bold;
        }
 
    }