/*npProfile.css*/
/*npprofile.css*/
.np-via-nds-card--left-profile {
	 text-align: left;
}
 .np-via-nds-card--left-profile .np-profile-actions {
	 justify-content: left;
}
 .np-via-nds-card--left-profile .profile-name {
	 font-size: 28px;
}
 .np-via-nds-card--left-profile a.nds-text-link--reset {
	 color: #0070d2;
	 font-size: 16px;
}
 .np-via-nds-card--left-profile .via-nds-col {
	 border-left: 1px solid #dfe6ed;
	 justify-content: space-between;
	 flex: initial;
}
 .np-via-nds-card--left-profile .via-nds-col:first-child {
	 border-left: 0 none;
}
 .np-via-nds-card--left-profile .profile-name {
	 position: relative;
	 display: inline-block;
}
 .np-via-nds-card--left-profile .profile-name:after {
	 content: "";
	 background: #9fa617!important;
	 position: absolute;
	 bottom: -10px;
	 left: 0;
	 right: 0;
	 width: 3.125rem;
     height: .1875rem;
	 margin: 0;
}
 .np-via-nds-card--left-profile .profile-info {
	 font-size: 18px;
}
 .np-via-nds-card--left-profile .profile-picture {
	 z-index: 3;
	 border: 5px solid #fff;
	 border-radius: 100%;
	 box-sizing: content-box;
	 margin: 0 auto;
	 width: 128px;
	 height: -10px;
	 overflow: hidden;
	 position: relative;
}
 .np-via-nds-card--left-profile .profile-picture .custom-profile-icon {
	 width: 100%;
	 height: 100%;
	 fill: #16325c;
}
 .np-via-nds-card--left-profile .profile-picture img {
	 width: 128px;
	 border-radius: 100%;
}
.p0{
	padding:0;
}
.m-t-n25r{
    margin-top: -2.5rem !important;
}
.nds-color-text-secondary{
	font-size: 16px !important;
	margin-top: .75rem !important;
}