.m-b-1r {
    margin-bottom: 1rem;
  }
  a {
    text-decoration: none;
  }
  
  .fileTile p {
    color: #3e3e3c;
  }
  
  .cardBody {
    min-height: 100px;
    max-height: 110px;
    overflow-y: scroll;
  }
  .dataTable {
    min-height: 275px;
    max-height: 275px;
    /*overflow-y: scroll;*/
  }
  .viewAll :hover {
    text-decoration: underline;
  }
  .p-tb-1r{
    padding: 1rem 0;
  }
  .p-lr-05r{
    padding: 0 0.5rem;
  }
  .inline-block{
    display:inline-block;
  }
  .floatRight{
    float: right;
  }
  .greyBackground{
    background-color:#eee;
  }
  .p-lr-1r{
    padding:0 1rem;
  }
  .p-lr-3r{
    padding: 0 3rem;
  }
  .border-label{
    border: 1px solid #ddd;
  }
  .p1r{
    padding:1rem;
  }
  .m-b-1r{
    margin-bottom:1rem;
  }
  .panel-label{
    font-size: 1rem;
      padding: 0.5rem;
  }
  .cardBody{
    min-height: 15rem;
      max-height: 20rem;
  }