<template>
            <div class="nds-grid nds-wrap nds-is-relative">
            <div if:false={cardLoaded} class="nds-is-absolute vloc-loader_override" style="height: 100%; width: 100%; min-height:50px; background: white; z-index: 99;">
  <div>
   <vlocity_ins-spinner
      variant="brand"
      alternative-text="Loading content..."
      size="small"
      theme="nds"
      ></vlocity_ins-spinner>
  </div>
</div>
            <template if:false={hasPermission}>
              You don't have required permissions to view this card.
            </template>
            <template if:true={hasPermission}>
              <template if:true={hasRecords}>
                        <template for:each={_records} for:item="record" for:index="rindex">
                            <vlocity_ins-flex-card-state key={record.uniqueKey} data-recordid={record.Id} record={record} data-statue="true"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-p-around_large nds-m-bottom_x-small " style="background-color:#fff;     border-color:#eee; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="nds-col  cardHeader nds-size_12-of-12  " style="             "><vlocity_ins-output-field  record={record}  merge-field="%3Cdiv%3EManage%20your%20policy%3C/div%3E"  card={card}  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  label="Block"  collapsible="false"  record={record}  collapsed-by-default="false"  card={card}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  label="Block"  collapsible="false"  record={record}  collapsed-by-default="false"  card={card}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   state-obj={record}  card={card}  record={record}  state-action='\{"id":"flex-action-1607425739888","type":"OmniScript","displayName":"Make a Payment","vlocityIcon":"","openUrlIn":"New Tab/Window","layoutType":"newport","omniType":{"Name":"quote/BindRequest/English","Id":"a3x6s0000000E5HAAU","isLwcOs":true},"isLwcOS":true,"hasExtraParams":true,"extraParams":{"Id":"{Id}"}}'  context-id="\{Id}"  data-conditions='\{"id":"state-condition-object","isParent":true,"group":[]}'  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   state-obj={record}  card={card}  record={record}  state-action='\{"id":"flex-action-1607425771874","type":"OmniScript","displayName":"Endorsements","vlocityIcon":"","openUrlIn":"Current Window","layoutType":"newport","omniType":{"Name":"WCIfAny/UpdateApplication/English","Id":"a3x6s0000000DvvAAE","isLwcOs":true},"isLwcOS":true,"hasExtraParams":true,"extraParams":{"Id":"{Id}"}}'  context-id="\{Id}"  data-conditions='\{"id":"state-condition-object","isParent":true,"group":[]}'  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   state-obj={record}  card={card}  record={record}  state-action='\{"id":"flex-action-1607425827684","type":"OmniScript","displayName":"Update Billing Address","vlocityIcon":"","openUrlIn":"Current Window","layoutType":"newport","omniType":{"Name":"WCIfAny/UpdateApplication/English","Id":"a3x6s0000000DvvAAE","isLwcOs":true},"isLwcOS":true,"hasExtraParams":true,"extraParams":{"Id":"{Id}"}}'  context-id="\{Id}"  data-conditions='\{"id":"state-condition-object","isParent":true,"group":[]}'  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   state-obj={record}  card={card}  record={record}  state-action='\{"id":"flex-action-1607425851623","type":"OmniScript","displayName":"Cancel Policy","vlocityIcon":"","openUrlIn":"Current Window","layoutType":"newport","omniType":{"Name":"Crime/UpdateApplication/English","Id":"a3x6s0000000FrCAAU","isLwcOs":true},"isLwcOS":true,"hasExtraParams":true,"extraParams":{"Id":"{Id}"}}'  context-id="\{Id}"  data-conditions='\{"id":"state-condition-object","isParent":true,"group":[]}'  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   state-obj={record}  card={card}  record={record}  state-action='\{"id":"flex-action-1607425872732","type":"OmniScript","displayName":"File a Claim","vlocityIcon":"","openUrlIn":"Current Window","layoutType":"newport","omniType":{"Name":"WCIfAny/ReviewApplication/English","Id":"a3x6s0000000DvRAAU","isLwcOs":true},"isLwcOS":true,"hasExtraParams":true,"extraParams":{"Id":"{Id}"}}'  context-id="\{Id}"  data-conditions='\{"id":"state-condition-object","isParent":true,"group":[]}'  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   state-obj={record}  card={card}  record={record}  state-action='\{"id":"flex-action-1607426090057","type":"OmniScript","displayName":"Email/Case","vlocityIcon":"","openUrlIn":"Current Window","layoutType":"newport","omniType":{"Name":"ContactUs/OpenACase/English","Id":"a5C6C000000IQTOUA4","isLwcOs":true},"isLwcOS":true,"hasExtraParams":true,"extraParams":{"Id":"{Id}"}}'  context-id="\{Id}"  data-conditions='\{"id":"state-condition-object","isParent":true,"group":[]}'  theme="nds" ></vlocity_ins-action>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                        </template>
                      </template>
                      <template if:false={hasRecords}>
                            <vlocity_ins-flex-card-state  record={record} data-statue="false"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-p-around_large nds-m-bottom_x-small " style="background-color:#fff;     border-color:#eee; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="nds-col  cardHeader nds-size_12-of-12  " style="             "><vlocity_ins-output-field  record={record}  merge-field="%3Cdiv%3EManage%20your%20policy%3C/div%3E"  card={card}  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  label="Block"  collapsible="false"  record={record}  collapsed-by-default="false"  card={card}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  label="Block"  collapsible="false"  record={record}  collapsed-by-default="false"  card={card}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   state-obj={record}  card={card}  record={record}  state-action='\{"id":"flex-action-1607425739888","type":"OmniScript","displayName":"Make a Payment","vlocityIcon":"","openUrlIn":"New Tab/Window","layoutType":"newport","omniType":{"Name":"quote/BindRequest/English","Id":"a3x6s0000000E5HAAU","isLwcOs":true},"isLwcOS":true,"hasExtraParams":true,"extraParams":{"Id":"{Id}"}}'  context-id="\{Id}"  data-conditions='\{"id":"state-condition-object","isParent":true,"group":[]}'  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   state-obj={record}  card={card}  record={record}  state-action='\{"id":"flex-action-1607425771874","type":"OmniScript","displayName":"Endorsements","vlocityIcon":"","openUrlIn":"Current Window","layoutType":"newport","omniType":{"Name":"WCIfAny/UpdateApplication/English","Id":"a3x6s0000000DvvAAE","isLwcOs":true},"isLwcOS":true,"hasExtraParams":true,"extraParams":{"Id":"{Id}"}}'  context-id="\{Id}"  data-conditions='\{"id":"state-condition-object","isParent":true,"group":[]}'  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   state-obj={record}  card={card}  record={record}  state-action='\{"id":"flex-action-1607425827684","type":"OmniScript","displayName":"Update Billing Address","vlocityIcon":"","openUrlIn":"Current Window","layoutType":"newport","omniType":{"Name":"WCIfAny/UpdateApplication/English","Id":"a3x6s0000000DvvAAE","isLwcOs":true},"isLwcOS":true,"hasExtraParams":true,"extraParams":{"Id":"{Id}"}}'  context-id="\{Id}"  data-conditions='\{"id":"state-condition-object","isParent":true,"group":[]}'  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   state-obj={record}  card={card}  record={record}  state-action='\{"id":"flex-action-1607425851623","type":"OmniScript","displayName":"Cancel Policy","vlocityIcon":"","openUrlIn":"Current Window","layoutType":"newport","omniType":{"Name":"Crime/UpdateApplication/English","Id":"a3x6s0000000FrCAAU","isLwcOs":true},"isLwcOS":true,"hasExtraParams":true,"extraParams":{"Id":"{Id}"}}'  context-id="\{Id}"  data-conditions='\{"id":"state-condition-object","isParent":true,"group":[]}'  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   state-obj={record}  card={card}  record={record}  state-action='\{"id":"flex-action-1607425872732","type":"OmniScript","displayName":"File a Claim","vlocityIcon":"","openUrlIn":"Current Window","layoutType":"newport","omniType":{"Name":"WCIfAny/ReviewApplication/English","Id":"a3x6s0000000DvRAAU","isLwcOs":true},"isLwcOS":true,"hasExtraParams":true,"extraParams":{"Id":"{Id}"}}'  context-id="\{Id}"  data-conditions='\{"id":"state-condition-object","isParent":true,"group":[]}'  theme="nds" ></vlocity_ins-action>
      </div><div class="nds-col  cardActions nds-size_12-of-12  condition-element" style="             "><vlocity_ins-action  tracking-obj={_childCardTrackingObj}   state-obj={record}  card={card}  record={record}  state-action='\{"id":"flex-action-1607426090057","type":"OmniScript","displayName":"Email/Case","vlocityIcon":"","openUrlIn":"Current Window","layoutType":"newport","omniType":{"Name":"ContactUs/OpenACase/English","Id":"a5C6C000000IQTOUA4","isLwcOs":true},"isLwcOS":true,"hasExtraParams":true,"extraParams":{"Id":"{Id}"}}'  context-id="\{Id}"  data-conditions='\{"id":"state-condition-object","isParent":true,"group":[]}'  theme="nds" ></vlocity_ins-action>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                      </template>
            </template>
            <template if:true={hasError}>
            {error}
            </template>
            
      <vlocity_ins-action action-wrapperclass="slds-hide" re-render-flyout class="action-trigger slds-col" onupdateos={updateOmniscript} onsetvalue={updateAction}>
      
      </vlocity_ins-action>
  
            <vlocity_ins-action class="execute-action" re-render-flyout action-wrapperclass="slds-hide" onupdateos={updateOmniscript} onsetvalue={updateAction}>
            
            </vlocity_ins-action>
            </div>
          </template>