<template>
            <div class="nds-grid nds-wrap nds-is-relative">
            <div if:false={cardLoaded} class="nds-is-absolute vloc-loader_override" style="height: 100%; width: 100%; min-height:50px; background: white; z-index: 99;">
  <div>
   <vlocity_ins-spinner
      variant="brand"
      alternative-text="Loading content..."
      size="small"
      theme="nds"
      ></vlocity_ins-spinner>
  </div>
</div>
            <template if:false={hasPermission}>
              You don't have required permissions to view this card.
            </template>
            <template if:true={hasPermission}>
              <template if:true={hasRecords}>
                      <vlocity_ins-flex-card-state   data-statue="true"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-card nds-p-around_large nds-m-bottom_x-small " style="background-color:#fff;     border-color:#cccccc; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-data-table  issearchavailable="false"  issortavailable="true"  records={records}  columns='\[]'  theme="nds" ></vlocity_ins-data-table>
      </div><div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-data-table  issearchavailable="false"  issortavailable="true"  records={records}  columns='\[]'  theme="nds" ></vlocity_ins-data-table>
      </div><div class="nds-col  cardHeader nds-size_12-of-12  " style="             "><vlocity_ins-output-field  record={record}  merge-field="%3Cdiv%3EPolicies%3C/div%3E"  card={card}  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  label="Block"  collapsible="false"  record={record}  collapsed-by-default="false"  card={card}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="slds-col   slds-p-around_x-small slds-size_12-of-12 " style="">
    <vlocity_ins-block  label="Block"  collapsible="false"  record={record}  collapsed-by-default="false"  card={card}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="slds-col  cais-table-container  slds-size_12-of-12  " style="             "><vlocity_ins-data-table  issearchavailable="true"  issortavailable="true"  cell-level-edit="true"  pagelimit="5"  group-order="asc"  pagesize="10"  draggable="false"  hide-table-header="false"  user-selectable-row="false"  user-selectable-column="false"  fireevent-on-deleteconfirm="false"  confirmdeleterow="false"  hide-extra-column="true"  styles='\{"cellMargin":[],"cellPadding":[]}'  columns='\[{"fieldName":"Name","label":"POLICY ID","searchable":"true","sortable":true,"type":"text","format":"M/D/YYYY","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"Type","label":"TYPE","searchable":"true","sortable":true,"type":"text","format":"M/D/YYYY","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"Status","label":"STATUS","searchable":"true","sortable":true,"type":"text","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"EffectiveDate","label":"EFFECTIVE DATE","searchable":"true","sortable":true,"type":"date","format":"M/D/YYYY","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"ExpirationDate","label":"EXPIRATION DATE","searchable":"true","sortable":true,"type":"date","format":"M/D/YYYY","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"TotalAmount","label":"TOTAL AMOUNT","searchable":false,"sortable":true,"type":"currency","visible":"true","userSelectable":"false","editable":"false"}]'  records={records}  theme="nds" ></vlocity_ins-data-table>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                </template>
                <template if:false={hasRecords}>
                      <vlocity_ins-flex-card-state   data-statue="false"  data-index="0" data-rindex={rindex} class="cf-vlocity-state-0 cf-vlocity-state nds-size_12-of-12 "  tracking-obj={_childCardTrackingObj} >
      <div if:true={cardLoaded} class="nds-grid nds-wrap nds-card nds-p-around_large nds-m-bottom_x-small " style="background-color:#fff;     border-color:#cccccc; border-width:0.8px; border-radius:0; border-style:solid;     ">
          <div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-data-table  issearchavailable="false"  issortavailable="true"  records={records}  columns='\[]'  theme="nds" ></vlocity_ins-data-table>
      </div><div class="slds-col   slds-size_12-of-12 " style=""><vlocity_ins-data-table  issearchavailable="false"  issortavailable="true"  records={records}  columns='\[]'  theme="nds" ></vlocity_ins-data-table>
      </div><div class="nds-col  cardHeader nds-size_12-of-12  " style="             "><vlocity_ins-output-field  record={record}  merge-field="%3Cdiv%3EPolicies%3C/div%3E"  card={card}  theme="nds" ></vlocity_ins-output-field>
      </div><div class="nds-col   nds-p-around_x-small nds-size_12-of-12 " style="">
    <vlocity_ins-block  label="Block"  collapsible="false"  record={record}  collapsed-by-default="false"  card={card}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="slds-col   slds-p-around_x-small slds-size_12-of-12 " style="">
    <vlocity_ins-block  label="Block"  collapsible="false"  record={record}  collapsed-by-default="false"  card={card}  theme="nds" ><div class="nds-grid nds-wrap">
          
        </div></vlocity_ins-block>
    </div><div class="slds-col  cais-table-container  slds-size_12-of-12  " style="             "><vlocity_ins-data-table  issearchavailable="true"  issortavailable="true"  cell-level-edit="true"  pagelimit="5"  group-order="asc"  pagesize="10"  draggable="false"  hide-table-header="false"  user-selectable-row="false"  user-selectable-column="false"  fireevent-on-deleteconfirm="false"  confirmdeleterow="false"  hide-extra-column="true"  styles='\{"cellMargin":[],"cellPadding":[]}'  columns='\[{"fieldName":"Name","label":"POLICY ID","searchable":"true","sortable":true,"type":"text","format":"M/D/YYYY","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"Type","label":"TYPE","searchable":"true","sortable":true,"type":"text","format":"M/D/YYYY","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"Status","label":"STATUS","searchable":"true","sortable":true,"type":"text","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"EffectiveDate","label":"EFFECTIVE DATE","searchable":"true","sortable":true,"type":"date","format":"M/D/YYYY","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"ExpirationDate","label":"EXPIRATION DATE","searchable":"true","sortable":true,"type":"date","format":"M/D/YYYY","visible":"true","userSelectable":"false","editable":"false"},{"fieldName":"TotalAmount","label":"TOTAL AMOUNT","searchable":false,"sortable":true,"type":"currency","visible":"true","userSelectable":"false","editable":"false"}]'  records={records}  theme="nds" ></vlocity_ins-data-table>
      </div>
        </div>
      </vlocity_ins-flex-card-state>
                </template>
            </template>
            <template if:true={hasError}>
            {error}
            </template>
            
      <vlocity_ins-action action-wrapperclass="slds-hide" re-render-flyout class="action-trigger slds-col" onupdateos={updateOmniscript} onsetvalue={updateAction}>
      
      </vlocity_ins-action>
  
            <vlocity_ins-action class="execute-action" re-render-flyout action-wrapperclass="slds-hide" onupdateos={updateOmniscript} onsetvalue={updateAction}>
            
            </vlocity_ins-action>
            </div>
          </template>